[2015-04-21 14:50] lorro opened #2 "Deleting a holiday"
Just tried to delete the holiday I previously added, so there should be no holiday anymore and I get the following error.

`Catchable fatal error: Argument 1 passed to OpeningHours\Module\CustomPostType\MetaBox\Holidays::filterPostConfig() must be of the type array, null given, called in /home/srdev/public_html/wp-content/plugins/wp-opening-hours/classes/OpeningHours/Module/CustomPostType/MetaBox/

[2015-04-21 15:30] lorro opened #3 "[op-is-open] shortcode error"
Whether I do `echo do_shortcode('[op-is-open]');`

or type `[op-is-open]` in the visual editor I always get the following error:

`Catchable fatal error: Argument 1 passed to OpeningHours\Module\Shortcode\AbstractShortcode::renderShortcode() must be of the type array, string given in /home/srdev/public_html/wp-content/plugins/wp-opening-hours/classes/OpeningHours/Module/Shortcode/AbstractShortcode

[2015-04-28 15:11] lorro opened #4 "Next open-period doesn't seem to be right"
I setup the opening hours of a particular day (tuesday, as it is today) from 7:30 to 16:30. The current time is 17:00.

The is-open widget states that the venue is currently closed: so far so good. But the indication of the next open period seems to be somewhat off. It says the following

`We will be open on tuesday (28 april 2015) from 7:30 to 16:30.`

That's quite odd as that's the date of today

[2015-04-30 16:46] waynep16 opened #5 "Fatal error: Uncaught exception 'Exception' with message DateTimeZone"
I get a white screen when i activate plug in

Here is debug log:

Fatal error: Uncaught exception 'Exception' with message 'DateTimeZone::__construct(): Unknown or bad timezone ()' in /home/uktweb1/public_html/wp-content/plugins/wp-opening-hours/classes/OpeningHours/Module/I18n.php:110 Stack trace: #0 /home/uktweb1/public_html/wp-content/plugins/wp-opening-hours/classes/OpeningHours/Module/I18n.ph

[2015-04-30 16:55] waynep16 commented on #3
How do we specify which branch we need to show is open ?

 op-is-open id=xx ???

[2015-05-02 14:30] janizde commented on #3
It is the set's id (which also is the post id of the set post). I see, that it can be very confusing and I will add a Meta Box to the Set edit screen, showing which id to use

[2015-05-03 17:51] waynep16 commented on #3
Okay. So please can you tell me how to use the short code to show is open for a particular branch ??

It doesn't work for me and I get blank page error

[2015-05-03 18:04] lorro commented on #3
Wayne,

these are the "default attributes" of the shortcode.
`$default_attributes = array(
			'set_id'              => null,
			'open_text'           => __( 'We\'re currently open.', self::TEXTDOMAIN ),
			'closed_text'         => __( 'We\'re currently closed.', self::TEXTDOMAIN ),
			'show_next'           => false,
			'next_format'         => __( 'We\'re open again on %2$s (%1$s) from %3$s to %4$

[2015-05-05 10:18] waynep16 commented on #3
Thank you,works just as expected :)

[2015-05-07 07:28] waynep16 commented on #3
Hey Lorro, Can you please show me the parameters for  op-overview ?

[2015-05-07 08:19] janizde commented on #3
Default Attributes for Overview Shortcode:
[code]

[2015-05-07 08:31] lorro commented on #3
Yes, I figured that out by now. I just forgot to supply the set_id parameter. Worked fine when I added that!

[2015-05-08 15:24] waynep16 opened #6 "*Suggestion* feature request"
How about... one more parameter to add to set, so we have OPEN and CLOSED

I want to show a message "Closing soon" and if time is within one hour, the message will show :+1:

I think this would be a nice touch

[2015-05-15 09:42] lorro opened #7 "Doesn't show subset"
I have made a subset to supply different opening hours during a specific week, but it's just showing the hours of the parent set in the Opening Hours Overview widget. Could you take a look at this?

Thanks!

[2015-05-16 13:04] lennynld opened #8 "Fatal error"
can't activate version 2.0 because of following error's

Warning: require_once(includes/admin-notice-helper/admin-notice-helper.php): failed to open stream: No such file or directory in /public_html/wordpress/wp-content/plugins/WP-Opening-Hours-master/bootstrap.php on line 24

Fatal error: require_once(): Failed opening required 'includes/admin-notice-helper/admin-notice-helper.php' (include_path=

[2015-05-16 13:47] janizde commented on #8
Please mind, that when cloning or forking the GitHub repo you will also have to add the submodules with
`git submodule init`
You will also have to install the npm modules and compile the css and js with grunt.

If you just want to test, you may also use the .zip at http://www.jannikportz.de/2015/04/20/opening-hours-2-0-beta-please-test/ it already includes the submodules and compiled js and css

[2015-05-16 13:53] lennynld commented on #8
after activation the plugin
Fatal error: Uncaught exception 'Exception' with message 'DateTimeZone::__construct(): Unknown or bad timezone ()' in /home/loveyoudesign.com/public_html/wordpress/wp-content/plugins/wp-opening-hours/classes/OpeningHours/Module/I18n.php:110 Stack trace: #0 /home/loveyoudesign.com/public_html/wordpress/wp-content/plugins/wp-opening-hours/classes/OpeningHours/Module/I18n.

[2015-05-26 10:23] waynep16 opened #9 "BUG - Holidays"
I added a new holiday date and saved it.

All good so far.

Now i deleted the holiday by pressing the X but now when i press update i get a blank white screen and i cant remove the holiday.

[2015-05-28 20:47] chadsterBAM opened #10 "Error in JS"
TypeError: undefined is not a function (evaluating 'dateStart.datepicker')

    dateStart.datepicker({
      dateFormat: 'yy-mm-dd',
      onClose: function (date) {
        dateEnd.datepicker("option", "minDate", date);
      }
    });

Line 265. This is on the FRONT end.  I was under the assumption that the js for datepicker wouldn't show on the front end at all.

[2015-07-08 18:18] fotomut commented on #8
I get the same fatal error

[code]

[2015-07-08 18:30] fotomut commented on #8
I fixed the error on my system by explicitly setting the timezone_string option using the following sql statement `update wp_options set option_value = 'America/New_York' where option_name = 'timezone_string';`

However, I think the plugin should be able to handle when a site has no value set for `timezone_string` option, as was the case for me.  Perhaps default to `UTC`?  See here for supported v

[2015-07-13 22:00] rowaboat opened #12 "White Screen Error"
Currently getting a white screen of death error when installing the version from http://www.jannikportz.de/2015/04/20/opening-hours-2-0-beta-please-test/

I'm using php 5.5.11 and Wordpress 4.2.2.

[2015-12-19 12:03] misagues opened #14 "Translated to the Spanish and more"
Hello Jannik,

I have 100% of the WP Opening Hours translated to the Spanish.

Possibly will have to adjust things. As you see the translations in the plugin in use them I will be adjusting and updating.

I want to merge 1 commit in GitHub

I’ve found some things that do not work well:

I have seen that the months may not be translated, appear in English.

The section settings within the plugin do

[2015-12-26 09:19] wato1987 opened #15 "*Sugestion*"
Wondering if someone can help me and also like to sugest

a way i can op-overview but for the next week

so op-overview + 7 ?

[2016-01-19 12:52] misagues opened #16 "coming new version?"
Are the commits recently are uploaded a new version?
 I tried to download the master and use and is not working.
 Thank you.

[2016-02-09 05:59] misagues opened #17 "New version?"
The last commits are updates to a new version?

I tried to combine the new with v2.0 files, but do not work. throw a lot of mistakes.

Thanks

[2016-02-09 07:26] janizde commented on #17
I'm currently working on it and rearranging some classes etc. I have not tested it yet and it's not even finished but i will inform you when the new Version is ready to use (in beta).

[2016-02-09 07:26] janizde commented on #16
#17

[2016-02-09 07:26] #16 closed

[2016-02-10 01:18] misagues commented on #17
I hope really excited.

 If you allow me a suggestion, it would be perfect translate the months from the .po language file.

 Thank you.

[2016-02-10 16:04] janizde commented on #17
Aren't they included in the translations? Actually all language-specific strings should be translatable. Could you please tell me where it's not translated?

[2016-02-10 19:52] misagues commented on #17
Hi,

Weeks are present in the .po language file between the lines 154 and 208. But the months do not appear.

Thanks.

[2016-02-10 19:56] misagues commented on #17
Hi,

Weeks are present in the german .po language file between the lines 178 and 232. But the months do not appear.

Thanks.

[2016-02-10 20:46] janizde commented on #17
Ah, I see. All appearances of month names come from formatting a date using the date($format, $time) method. I will have a look how I can improve this to also include in the translation set

[2016-02-10 20:49] misagues commented on #17
Thanks.

[2016-03-16 18:44] misagues opened #21 "Donate link: http://jannikportz.de/donate <!-- the donate URL is not available -->"
Donate link: http://jannikportz.de/donate

[2016-04-15 10:01] foomep opened #22 "Error by activation"
I use this plug-in in version 1.2 on WP 4.5 on two installation.
The First is a Host Europe Server an it works perfectly. The second installation is uberspace Server an i get an Error:
`Das Plugin verursachte 2635 Zeichen unerwartete Ausgabe während der Aktivierung. Solltest du Fehlermeldungen wie „headers already sent“, Probleme mit der Syndizierung der Feeds oder andere Fehler erhalten, versuche

[2016-04-18 19:56] misagues commented on #22
Make a test with version 2.0 beta

http://www.jannikportz.de/2015/04/20/opening-hours-2-0-beta-please-test/

[2016-04-19 08:16] foomep commented on #22
ohh yes. the version 2.0 beta work great, thx. I have only a few of issues, I open them again.

[2016-04-19 08:16] #22 closed

[2016-04-19 09:07] foomep opened #23 "delete irregular date"
I have create 2 irregular dates. If I delete this both and want to update, it doesn't work, browser load the site an go got wp-admin/post.php

If i delete 1 of the irregular dates and update it work. But when I want to delete the last one, the same bug.

[2016-04-19 09:17] foomep commented on #23
Ok, I have create a new item, also I have 2 items. If i delete the second and update, it works.
Also I have only the third item. And if I want to delete, we have the bug.

[2016-04-19 09:20] foomep opened #24 "delete a opening hours weekdate"
If I delete the Saturday and the Sunday and update, they appears after the update again with 0:00 - 0:00.

[2016-04-19 20:44] misagues commented on #24
I do not understand what you want to say.
Show me a screenshot or the error in a test site.

[2016-04-19 20:44] misagues commented on #23
I do not understand what you want to say.
Show me a screenshot or the error in a test site.

[2016-04-20 07:41] foomep commented on #23
ok. I would describe the error again.

I create a new set, add two irregular openings and update this set.
After that I click the X-Button to delete this two irregular openings. The dates disappear.
When I do update the set I get a blank website with url http://example.com/wp-admin/post.php.
I go back to the plugin an my set an the irregular openings are back again.

The next test.
I delete only o

[2016-04-20 07:48] foomep commented on #24
A question before: That means when I choose a day from 0:00 to 0:00 the day is closed? Or should I delete the time?

If 0:00 to 0:00 is a closed day, the widget setting "Show closed days" dosn't work. The closed days appear always.

[2016-04-21 08:07] foomep opened #25 "Bug with Customizer"
If I activate the plug-in and go to the Customizer, the site can't load:
<img width="1679" alt="bildschirmfoto 2016-04-21 um 10 06 08" src="https://cloud.githubusercontent.com/assets/4090141/14702093/e2c9df0e-07a8-11e6-863f-2380f4ab4ffe.png">

I deactivate the plug-in and it works.

[2016-04-21 22:21] misagues commented on #24
I do not use this function because I want to appear closed days. But actually, I've tried and does not work.
This is a beta version.
Jannik is preparing an update that will change many things. We will wait to see if resolved in the new version.
Your interim solution seems appropriate.

[2016-04-21 22:26] misagues commented on #25
Yes, the problem comes from update Wordpress 4.
I disable the plug-in to use the customizer.
The customizer not used every day.

[2016-04-21 22:32] misagues commented on #23
I have not had that situation.
Hopefully Jannik can solve  for the next version.

[2016-04-22 11:52] foomep commented on #24
Its a beta version, so I sages it.
offtopic: I'm new on github. can I lable this issue?

[2016-04-22 11:52] foomep commented on #25
Yes, so I do it well

[2016-04-22 17:01] misagues commented on #24
http://www.jannikportz.de/2015/04/20/opening-hours-2-0-beta-please-test/

[2016-05-19 06:37] misagues opened #26 "The plugin break the editor after update wordpress 4.5.2 ==SOLVED=="
Hi,

when will the next version for use or test?

In v2.0 the plugin break the editor after update wordpress 4.5.2.

For write in posts, pages, etc is need deactivate the plugin.

You know a solution?

Thanks.

[2016-06-03 03:49] misagues commented on #26
SOLVED.

Update the library URL Jquery in \classes\OpeningHours\OpeningHours.php to solve the problem with the editor in version 4.5.2

Change URL jQuery in line 114.
http://code.jquery.com/ui/1.10.4/jquery-ui.min.js ==>> http://code.jquery.com/ui/1.11.4/jquery-ui.min.js

[2016-08-12 20:53] janizde commented on #26
fixed in 1181e56413e78aa99ed1dc41ae4a4ab004c56031
thanks for reporting I will release the next beta tomorrow

[2016-08-12 20:53] #26 closed

[2016-08-12 20:55] janizde commented on #25
may this be related to https://github.com/janizde/WP-Opening-Hours/issues/26 ?

[2016-08-12 21:28] janizde commented on #24
sorry for being so late
the 00:00 to 00:00 periods will not be considered as real periods the bug was indeed that the show_closed option didn't work.

fixed in 49e0d0679cdb1e5632e51d73f9507bca9c5331e7

[2016-08-12 21:28] #24 closed

[2016-08-12 21:31] janizde commented on #21
thank you, fixed in 9ca84e7a287fa72b42ccdb68027396c4ab41de3f

[2016-08-12 21:31] #21 closed

[2016-08-12 21:53] janizde commented on #8
solved in 685ba56e152be8bf0a90c2cbacab42df8572334c
it now takes the php default value if neither gmt_offset nor timezone_string are set

[2016-08-12 21:53] #8 closed

[2016-08-12 22:03] janizde commented on #3
fixed in 5cf64ff999f9ec1ffa892fe17cbfdc138a5ec825
it will now just not render the shortcode if the set_id is not specified instead of throwing an error

[2016-08-12 22:03] #3 closed

[2016-08-12 22:59] janizde commented on #17
The month names are now taken from the WP core translations depending on the locale, so the month names won't be in the .pot but translated.

fixed in dea819c71c7a10dd51e8afae32eecae4c23426d1

[2016-08-12 22:59] #17 closed

[2016-08-12 23:06] janizde commented on #2
fixed in 165fe01e7f7793f745b96ee8fb842cf631701982

[2016-08-12 23:06] #2 closed

[2016-08-12 23:07] janizde commented on #9
should be fixed by 165fe01e7f7793f745b96ee8fb842cf631701982

[2016-08-12 23:07] #9 closed

[2016-08-12 23:08] janizde commented on #23
should be fixed by 165fe01e7f7793f745b96ee8fb842cf631701982

[2016-08-12 23:08] #23 closed

[2016-08-12 23:10] janizde commented on #10
has this been fixed by https://github.com/janizde/WP-Opening-Hours/pull/11 ?

[2016-08-12 23:13] janizde commented on #14
hey @misagues
the settings have been removed because it now depends on your standard WordPress setting. You can change the date and time formats per widget/shortcode

months are now translated by WordPress core translations so they don't have to be included in the plugin translations.

I will publish beta2 tomorrow please try  to highlight current weekday again (also check your timezone settings t

[2016-08-12 23:13] #14 closed

[2016-08-12 23:43] janizde commented on #7
Please test it again with beta2: http://bit.ly/2bco9AZ

[2016-08-12 23:43] janizde commented on #12
Please test it again with beta2 http://bit.ly/2bco9AZ

[2016-08-12 23:43] janizde commented on #4
Please test it again with beta2 http://bit.ly/2bco9AZ

[2016-08-12 23:45] janizde commented on #17
beta 2 is now available! http://bit.ly/2bco9AZ

[2016-08-13 00:10] janizde opened #28 "Add is_open"
Add is_open template tag as it has been in older versions

[2016-08-14 14:47] #10 closed

[2016-08-14 14:47] #4 closed

[2016-08-14 14:47] #25 closed

[2016-09-04 21:59] Happyfeet01 opened #29 "Date Picker wrong"
Hello,

can you Update the Date Picker?
When i choose th correct Day e.g. Monday to Sunday are Holidays. It shows at the Frontpage Monday - Saturday.
Also the Datepicker begins with Sunday. Can i change this?

[2016-09-06 04:53] misagues opened #30 "Various bugs with beta2"
1 * The green and red colors do not appear in the open and closed states.
![img_20160906_063258](https://cloud.githubusercontent.com/assets/16360881/18261867/c0969466-73fc-11e6-87cf-01375779f1f7.jpg)

2 * In set opening hours floating calendar/time picker does not appear. You must enter date and time manually.
![img_20160906_062819](https://cloud.githubusercontent.com/assets/16360881/18261914/1ef0

[2016-09-08 17:34] janizde commented on #30
Most of this looks like the CSS and JS of the Plugin is not loading. How have you installed the beta version? When cloning or downloading from github you will have to build the assets first before being able to use it.
You can also download a built zip here http://bit.ly/2bpeeps
If you have actually used the built version please have a look at your console. Missing files are sometimes logged there

[2016-09-08 17:39] janizde commented on #29
Does it set the correct date in the inputs when you used the datepicker? Or does the value in the input match the selected date in the datepicker?
In how far does it display Mon - Sat, when including it in the Overview table?
I will make the plugin aware of the "Week starts on" WordPress setting, Thank you!

[2016-09-10 12:51] Happyfeet01 commented on #29
the Datepicker shows the first day as an Monday
![datepicker](https://cloud.githubusercontent.com/assets/3295104/18410529/ef1275aa-7765-11e6-8630-3643c4515dd2.png)

it would be nice if you can update it. Timezone on Server and Wordpress is correct.

[2016-09-10 12:56] janizde commented on #29
I updates the datePickers to always use the WordPress Setting now f76d512e74db67b82b42c7930f3b96b2fd787dbe
However in the Widget it will still always start on Monday, I'll fix that

[2016-09-10 13:05] Happyfeet01 commented on #29
Thanks

[2016-09-10 13:18] Happyfeet01 commented on #29
is that normal when i try to activate the latest ZIP
?

[2016-09-10 16:52] Happyfeet01 commented on #30
can you release a new Version to the Wordpress Plugin Site?

[2016-09-18 15:55] janizde commented on #30
@Happyfeet01 this is still a beta release, I will add a new WordPress release when the beta phase has finished. However I will update the SVN trunk in the WordPress Plugin repository every once in a while but not after every change

[2016-09-18 16:30] janizde commented on #29
@Happyfeet01 No that shouldn't happen. Please have a look if the file actually exists. I should be shipped with the pre-build zip. If it exist please add the __DIR__ constant in the path as done in 4a450947353fdcd84b86bc02afc6085884474dbf

[2016-09-18 16:31] janizde commented on #29
@Happyfeet01 the Overview widget is now also aware of the start_of_week setting in commit 4ff5f337b733f8464663a2fbf8d1d5c840788378 (still in develop branch)

[2016-09-18 16:31] #29 closed

[2016-09-19 06:57] Happyfeet01 commented on #30
@janizde I have download the built zip from the post but I can't add holidays or something else. Buttons don't work. I need this Plugin..

[2016-09-22 12:47] martinlyder commented on #30
scripts and css referes to a non existing "dist"-folder: wp-opening-hours/dist/scripts/main.js?ver=2.0 and wp-opening-hours/dist/scripts/main.js?ver=2.0

[2016-09-22 13:44] janizde commented on #30
oh I see, I've updated the file please try again

[2016-09-22 15:27] janizde commented on #30
@misagues should work now with the new version (the dist/ directory must be inside the plugin).
6 should also work now.
please have a look at 4) and open a new issue if it still doesn't work

[2016-09-22 15:27] #30 closed

[2016-09-23 10:52] martinlyder opened #31 "Beta-2 dosen't show closed days"
I have placed the widgets and checked the Show closed days. But they dosen't show up...

[2016-09-25 11:44] janizde commented on #31
has been fixed in 3992dcc8a062bc9b7f008e093f6a0b4609b26af6 will be available in the next beta release

[2016-09-25 11:44] #31 closed

[2016-09-25 12:58] #28 closed

[2016-10-05 21:38] janizde commented on #31
beta3 now available should work now http://bit.ly/2e3c4QG
please have a look

[2016-10-05 21:38] janizde commented on #30
beta3 is now available please have a look: http://bit.ly/2e3c4QG

[2016-10-05 21:58] janizde commented on #31
beta3 is now available and it should work now http://bit.ly/2cTlMVu
please have a look

[2016-10-05 21:59] janizde commented on #30
beta3 now available please have a look: http://bit.ly/2cTlMVu

[2016-10-05 23:17] fakeartist commented on #28
Yes, really important. There was also a is_closed templated tag. Any alternative way, to check through PHP if the store is open or close?

[2016-10-05 23:33] fakeartist opened #32 "Check if the store is open or closed through PHP?"
Can someone please help me with this? With the old version I used the function is_open(), but now the function does not exist. Any alternative way?

[2016-10-06 00:57] misagues opened #33 "Fatal error in beta3"
I downloaded the plugin 2.0 beta 3 to the http://bit.ly/2dwbnNi.

I did a clean install of wordpress.

I installed the plugin.

I activated the plugin.

I went to the section of the plugin and when click in add new, get a fatal error.

![error_add_new_set](https://cloud.githubusercontent.com/assets/16360881/19136915/6b4be6ce-8b70-11e6-8aba-73d69e838a11.JPG)

And you can not continue.

[2016-10-06 01:19] misagues opened #34 "Irregular Openings disappears in beta3"
I have done a test updating the existing plugin in a site.

At first glance all one right. have respected the times set, configuring the widgets, etc.

But I enter my Hours Set, I make a change for test and push update changes; then all settings irregular openings disappears.

[2016-10-06 02:34] Happyfeet01 commented on #33
Have the same error when I try to add a new set.

[code]

[2016-10-06 08:37] janizde commented on #33
Ooops I have uploaded a revision in the blog.

[2016-10-06 08:37] #33 closed

[2016-10-06 08:41] janizde commented on #32
You need to know the Set id and can then retrieve the Set by using the OpeningHours module singleton instance e.g.
[code]

[2016-10-06 08:41] #32 closed

[2016-10-06 11:19] misagues commented on #33
give me a download link for testing.

[2016-10-06 12:00] janizde commented on #33
should be the same link, I have uploaded a revision on Google Drive

[2016-10-06 12:36] Happyfeet01 commented on #33
Hi,

I re-download this Plugin and it was successfull updated on the homepage.
It works really good.

Gesendet mit AquaMail für Android
http://www.aqua-mail.com

Am 6. Oktober 2016 1:19:07 nachm. schrieb Ramiro Rosa
<notifications@github.com>:

[2016-10-06 12:55] misagues commented on #33
Perfect!
Gone is the error.
But now we have the problem #34

[2016-10-06 13:08] janizde commented on #34
Could you please describe the Irregular Opening problem a bit more precisely? Are the Irregular Openings not saving?

[2016-10-06 13:16] misagues commented on #34
Add irregular openings.
![error_add_irregular_openings_01](https://cloud.githubusercontent.com/assets/16360881/19153564/5c1e373a-8bd7-11e6-9f46-f8ec91d114ba.JPG)

Pulse to publish or update.
![error_add_irregular_openings_02](https://cloud.githubusercontent.com/assets/16360881/19153691/d036ae04-8bd7-11e6-99fb-a8e3cf8d9260.jpg)

irregular openings disappear.
![error_add_irregular_openings_03](https

[2016-10-06 14:40] janizde commented on #34
could you please comment out lines 71, 74 and 76 in classes/OpeningHours/Module/CustomPostType/MetaBox/IrregularOpenings.php and then try again to see whether there's an error?

[2016-10-06 15:24] misagues commented on #34
when I comment out lines 71, 74 and 76 and push update returns the following error:

**Fatal error**: Uncaught exception 'InvalidArgumentException' with message '$date is not in valid date format' in C:\xampp\htdocs\testwp\wp-content\plugins\opening-hours\classes\OpeningHours\Entity\IrregularOpening.php:62 Stack trace: #0 C:\xampp\htdocs\testwp\wp-content\plugins\opening-hours\classes\OpeningHours

[2016-10-06 17:07] janizde commented on #34
Thank you, it's probably related to the datepicker.
Please have a look in your console if there are any errors and put a `var_dump($_POST)` before line 53

[2016-10-06 20:04] misagues commented on #34
array(55) { ["_wpnonce"]=> string(10) "1a5eb4e4ea" ["_wp_http_referer"]=> string(44) "/testwp/wp-admin/post.php?post=4&action=edit" ["user_ID"]=> int(1) ["action"]=> string(8) "editpost" ["originalaction"]=> string(8) "editpost" ["post_author"]=> int(1) ["post_type"]=> string(6) "op-set" ["original_post_status"]=> string(7) "publish" ["referredby"]=> string(69) "http://elportal.dyndns.dk/testwp/wp

[2016-10-06 20:19] misagues commented on #34
![error_add_irregular_openings_05](https://cloud.githubusercontent.com/assets/16360881/19169052/f9965b74-8c12-11e6-94bd-b64c3228122b.jpg)

[2016-10-06 20:29] janizde commented on #34
thank you, fixed in c3f638316bb531bc666d21caff5a9169ebb7475d
I have updated the file on Google Drive and the change is on master now

[2016-10-06 20:29] #34 closed

[2016-10-06 22:56] misagues commented on #34
Tested and working.

Thanks.

[2016-10-10 18:32] misagues opened #35 "holidays in red"
How can you put the names of the holidays in red as the closed days?

![festivos_en_rojo_](https://cloud.githubusercontent.com/assets/16360881/19246830/8fcd0120-8f28-11e6-9037-4ba3df687698.jpg)

Thanks!

[2016-10-10 18:34] janizde commented on #35
makes sense, I will add this. Thank you!

[2016-10-10 18:45] misagues commented on #35
In Widget Opening Hours: Overview?

[2016-10-10 18:46] janizde commented on #35
yes I will add the closed-style to Holidays in the Overview

[2016-10-14 01:39] misagues opened #36 "the translation in the plugin does not work"
I finished to translating the plugin to Spanish in:
https://translate.wordpress.org/locale/es/default/wp-plugins/wp-opening-hours

I followed your instructions to install the translation in the plugin:

but the text strings are not translated.

I tried to rename the file with all the variations that have occurred me. E.g.:
es_ES.mo
es.mo
wp-opening-hours-es_ES.mo
wp-opening-hours-es.mo
wp-opening-

[2016-10-14 01:51] misagues commented on #36
I have translated the file wp-opening-hours.pot of beta 3 with Poedit, I have uploaded the files .mo and .po to /language directory and renamed (es_ES and all variants), and does not work.

[2016-10-14 07:52] foomep commented on #36
I had the same problem and I solved it by copying the .mo file to path/to/wordpress/wp-content/languages.

[2016-10-14 08:59] misagues commented on #36
With  wp-opening-hours-de_DE.mo it not works me.
thanks

[2016-10-14 09:14] janizde commented on #36
@foomep this is actually a better idea to place it in the wp-content/languages. I will do some research on placing mo files there and then update the docs

[2016-10-14 11:22] misagues commented on #36
@foomep your idea has helped me.
 I solved it by copying the .mo file to path/to/wordpress/wp-content/languages**/plugins** as wp-opening-hours-es_ES.mo

Thanks

[2016-10-14 12:20] janizde commented on #36
@foomep @misagues thank you I will update the docs

[2016-10-14 12:22] janizde commented on #7
@lorro please verify whether the issue is still present with beta3 otherwise I will close this one

[2016-10-14 12:23] janizde commented on #12
@rowaboat please verify whether this issue is still present with beta3 otherwise I will close this issue

[2016-10-14 17:36] misagues opened #37 "Show Set Description in widget Opening Hours: Overview. Checkbox does not work"
If the set we write a description appears in the widget is checked or not the box.

![show_set_description_03](https://cloud.githubusercontent.com/assets/16360881/19396829/3a692338-9245-11e6-85b7-cd458f11cb0d.jpg)

![show_set_description_02](https://cloud.githubusercontent.com/assets/16360881/19396838/423acb5c-9245-11e6-958b-7c2b6a3ddb31.jpg)

![show_set_description_01](https://cloud.githubusercon

[2016-10-16 22:42] janizde commented on #37
tank you, fixed in f58438cee1643e8057a64e862700c3d28b217dd8

[2016-10-16 22:42] #37 closed

[2016-10-16 22:45] janizde commented on #36
I have updated the documentation on this topic in e8e4343a2424eb802bc9bfa2f170a95615cc9d4b

[2016-10-16 22:45] #36 closed

[2016-10-17 16:06] misagues commented on #37
It works perfect.
Thank you!

[2016-10-19 21:23] janizde commented on #35
added this in 32d273ad42a5cde9804a5575fb0a4113359fe40e

[2016-10-19 21:23] #35 closed

[2016-10-20 00:39] misagues commented on #35
It works perfect.
Thank you!

[2016-10-20 08:43] #12 closed

[2016-10-20 08:44] #7 closed

[2016-10-21 00:24] misagues commented on #36
The translation process does not work properly in WordPress 4.5.x. Text strings remain untranslated.

In WordPress 4.6.x it works correctly.

[2016-10-26 20:07] janizde commented on #36
@misagues you're right, this behavior only works automatically since WP 4.6, I have added backwards compatibility in d0e7e22936e84ae9354dddaae39f95bd93d7a853
Place try again with the latest develop

[2016-10-27 04:35] misagues commented on #36
I tried the added and it works great.

only does not translate the area "Set Details"

![set_details_notraslate_wp4 5 x](https://cloud.githubusercontent.com/assets/16360881/19754615/5608f6bc-9c0f-11e6-9559-e652ec4469a8.JPG)

but it is a less important thing.

Thanks!

[2016-10-27 04:41] misagues commented on #36
When you go to update the file on Google Drive with all the latest fixes?

Thanks!

[2016-10-28 21:47] richardfantom opened #38 "Fatal Error since update to v 2.0"
Hi, I hope this is constructive and helps you with a bugfix. My simple Wordpress site was using the previous version of Opening Hours but since update to 2.0 there is a fatal error report. I deleted then reinstalled the plug-in but with the same result.

Plugin could not be activated because it triggered a fatal error.
Catchable fatal error: Argument 2 passed to OpeningHours\Module\Ajax::addAction

[2016-10-28 21:51] janizde commented on #38
Thank you, you are probably running on PHP 5.3 aren't you? I figured out that the `callable` is only available on PHP >=5.4 didn't know that and my IDE didn't warn me. I will fix this asap

[2016-10-28 21:57] janizde commented on #38
I have fixed this in 76773ef7b06662999f36d662acff676647b5eef5
and the updated version is in the wordpress plugin repository (still tagged as 2.0) so you might manually download it from there and push it to wp-content/plugins

[2016-10-28 21:57] #38 closed

[2016-10-28 22:12] richardfantom commented on #38
You are right. My installation was running php 5.3 and I wondered if this was the cause so updated to 5.5 but can't recall whether I did this before or after I reinstalled Opening Hours. I'll manually reinstall from the repository and let you know if it works smoothly. Cheers.

[2016-11-08 05:19] zaasrvr opened #39 "Whats the right format to create a shortcode"
Hello,

I start using this wp plugin days ago. Im not using the widget. Im using the following code:

[op-overview set_id="80"]

Can you explain to me how to add "show_closed_days" to this line of code in the right format?

sorry im no a coder

Thanks

Alex

[2016-11-09 13:46] janizde commented on #39
Hi @zaasrvr you can add more parameters like `[op-overview set_id="80" show_closed_days="true"]`

[2016-11-09 13:46] #39 closed

[2016-12-05 14:46] Kahana82 opened #40 "*Suggestion* show only startdate when holiday duration is 1 day on Holiday widget (code included)"
So I wanted to not have the holiday list to show the same date 2 times when the StartDate and the EndDate are equal. This happens when the holiday period is only 1 day.

I got this to work by modifying the following file:
/wp-content/plugins/wp-opening-hours/views/shortcode/holidays.php
[code]

[2016-12-10 21:49] janizde commented on #40
thank you I will have a look at this for the next version

[2016-12-11 14:29] foomep commented on #40
+1

[2016-12-14 09:03] foomep opened #41 "*Sugestion* support Calendar weeks"
I need Opening Hours like this:
Saturday 14-day open. Always in the straight calendar week.

Open Street Map offers this possibility: `week 02-52/2 Sa 09:00-12:00;`

[2016-12-14 09:11] foomep opened #42 "*Sugestion* Text after Holidays"
Show a Text like _Representation by Dr. Doctor_ if the Holidays are are displayed. Maybe the user can edit in the widget options.
I modified my /wp-content/plugins/wp-opening-hours/views/shortcode/holidays.php with this:

[code]

[2016-12-20 19:29] foomep opened #43 "JS Problem?"
Since the update to Wordpress 4.7 (I think) I have no datepicker and can't add or delete Holidays or Irregular Opening. I think I had this problem with a Beta version.
It's a Javascript Bug?

[2016-12-22 09:29] lfrohling opened #44 "Shortcodes"
Could you add example lines on how EXACTLY to use the shortcodes in the HTML please. Simply having the tables with things like set_id and other info in other cells like title doesn't tell beginnners how to USE the shortcodes. Do they type things like [opening_hours_set_id_title_true] or what?

Without basic usage information and examples on what text to embed into the code all that shortcode infor

[2016-12-23 18:07] misagues commented on #43
I have tested with the version of WordPress 4.7 and the datepicker works
![datepicker_wp47](https://cloud.githubusercontent.com/assets/16360881/21459904/0d75b8fc-c943-11e6-8459-375f8fb8b511.JPG)

[2016-12-25 20:20] janizde commented on #43
Are there any JS errors in your browser's console?

[2016-12-25 20:22] janizde commented on #44
I will add basic reference and examples and a link to the WordPress docs on shortcodes to the docs.

[2016-12-26 12:13] janizde commented on #41
You can add a child set and set the constraints to even weeks only

[2016-12-26 12:44] #41 closed

[2016-12-27 12:38] foomep commented on #43
ahh ok. I have some problems in the console:
[code]

I have change from http to https a while ago. I think thats the problem. sry

[2016-12-29 14:19] villevee opened #46 "Yoast SEO admin area problem"
Hi
This plugin  (love it....) is messing up my General - Yoast SEO admin area? I'll see buttons, but they do nothing.

[2017-01-03 07:57] martinlyder opened #47 "*Suggestion* Could be nice to have isOpen show todays opening hours"
Hi
It could be nice that the isOpen widget had a feature to show todays opening hours and on holidays shows "Closed".
Often shopping center sites, have "Opening Hours Today: 10:00 -19:00" Displayed in ex. the header..

Examples:
http://shopcapitalcitymall.com/directory
http://friisaalborg.dk <- here i tweeked your plugin to do that, but not in a nice way, therefor i write this suggestion :)

[2017-01-03 15:01] martinlyder opened #48 "Holiday with more than one consecutive date don't merge in shorten opening hours"
Hi
if i have three holiday dates after each (ex. friday, saturday, sunday)  and have a widget where Shorten Openging hours is turn on. The output is not merged as "Friday - Sunday"... But writes it underneeth eachother.

[2017-01-21 20:39] janizde commented on #43
fixed in 2.0.1
thank you

[2017-01-21 20:39] #43 closed

[2017-01-24 01:03] bradnz opened #49 "WordPress time issue after activation"
13 hours added to both GMT and local time in WordPress General Settings after plugin activation, deactivate and returns to normal. Tested on two different servers (in different countries) and 3 websites.
Version 2.0.2

[2017-01-25 20:12] misagues commented on #49
Have you tried to reverse the 2.0.2 changes manually to see if the error is there?

You can check the changes made in the commit [bfbfd80](https://github.com/janizde/WP-Opening-Hours/commit/bfbfd80d3118594559e41bec8b121b01e8a401ec)

[2017-01-25 20:25] bradnz commented on #49
No upgrade, just installed the plugin for the first time.
Not sure if I have the skills to undo the 2.0.2 changes. I'll give it ago.

[2017-01-25 22:07] misagues commented on #49
This is version 2.0.0 upload in ZippyShare http://www54.zippyshare.com/v/8j9399Od/file.html

Download and unzip the file and the folder inside (wp-opening-hours), replace in your plugin.

In the ..\wp-content\plugins

[2017-01-25 22:13] misagues commented on #49
You can also download version 2.0.1 from [here](https://github.com/janizde/WP-Opening-Hours/archive/v2.0.1.zip).

[2017-01-25 22:27] bradnz commented on #49
Disabled the plugin, copied over 2.0.0, but issue remains.

**This is before activation:**
Timezone	 Auckland
Universal time (GMT) is 2017-01-25 22:24:45. Local time is 2017-01-26 11:24:45.
This timezone is currently in daylight saving time.
Standard time begins on: April 2, 2017 3:00 am.

**This is after:**
Timezone	 Auckland
Universal time (GMT) is 2017-01-26 11:24:58. Local time is 2017-01-27 0

[2017-01-26 01:14] misagues commented on #49
I changed the time zone in one of the websites where I have "Open Hours" running to the Auckland area GTM + 13 and the time shows okay.

![hora_auckland_utc 13](https://cloud.githubusercontent.com/assets/16360881/22316368/07a22ee4-e36d-11e6-8f46-a7d0c335c607.JPG)

The problem has to come from something else.

[2017-01-26 02:46] bradnz commented on #49
New install of WordPress 4.7.1, no plugins installed except Opening Hours, problem remains.
PHP 7.1.0

**Activated** - Note the UTC time is 13 hours out
![image](https://cloud.githubusercontent.com/assets/25312034/22318200/9c1837c4-e3dd-11e6-80aa-884148f8e62c.png)
**Deactivated** - All normal
![image](https://cloud.githubusercontent.com/assets/25312034/22318236/d9d12cd8-e3dd-11e6-99fb-7b866b53475f

[2017-01-26 03:07] misagues commented on #49
I do not know what may be happening.

Can you switch to the GTM + 1 "Madrid" time zone and then activate the Plugin?

Confirm me if that works.

[2017-01-26 03:18] bradnz commented on #49
**Deactivated** - All normal
![image](https://cloud.githubusercontent.com/assets/25312034/22318765/5632f334-e3e2-11e6-8898-6d310bf0f361.png)

**Activated** - Note UTC advanced 1 hour
![image](https://cloud.githubusercontent.com/assets/25312034/22318798/b24259da-e3e2-11e6-852c-9cfd52df4f5c.png)

[2017-01-26 04:21] misagues commented on #49
You're right, I've reviewed a website with WordPress 4.7.1 and it's not working well.

It also advances me 1 hour.

We will have to see what @janizde tells us.

[2017-01-26 21:44] misagues commented on #49
I think the problem is setting the time zone.

I've been working with the Dates.php file (classes/OpeningHours/Util/Dates.php)

` /** Sets up current timezone */
  protected function initDateTimeZone () {
    $timezoneString = get_option('timezone_string');
    $gmtOffset = get_option('gmt_offset');
    if (!empty($gmtOffset) and empty($timezoneString)) {
      $offset = floatval(floor($gmtOffset)

[2017-01-28 13:07] cheuf opened #50 "Attribute "closed_text" for op-overview Shortcode"
It's possible to add a attribute "closed_text" for op-overview Shortcode ? I want change the texte of caption.
Thank you :)

[2017-02-06 08:27] gpenman commented on #49
Hey there,
I'm using the plugin, and am obviously experiencing the same issue.
Any progress or solution on this?

[2017-02-06 20:37] janizde commented on #50
yes it's called `caption_closed`. I missed to add it to the docs, I will add it asap

[2017-02-06 20:37] #50 closed

[2017-02-10 20:35] janizde commented on #49
i will take a look asap. didn't have the time in the last couple of weeks

[2017-02-10 21:24] gpenman commented on #49
Thanks mate - i appreciate your time and effort.

[2017-02-11 12:48] janizde commented on #49
should be fixed in 2.0.3, just released it to the wp repositories. please check if it works now

[2017-02-11 12:48] #49 closed

[2017-02-11 12:49] janizde commented on #46
@villevee are there any errors in you browser's console?

[2017-02-14 19:50] misagues commented on #49
It works perfect.
Thank you!

[2017-02-14 20:00] bradnz commented on #49
Yes, can confirm, problem fix.
Thanks.

[2017-02-15 08:39] dcraig10 opened #51 "*Suggestion* Changelog order"
Could I suggest that you reverse the entry order of your change log to make it quicker and easier for website owners to find out what the latest changes are, currently one has to scroll to the bottom of the page and this also goes against the convention most other change logs follow.

[2017-02-15 19:31] janizde commented on #51
changed in e37b9055e7589ff31ad8cc565e9b7716e909f435
available on next release

[2017-02-15 19:31] #51 closed

[2017-02-19 15:19] bensenoj opened #52 "When holiday is in effect - open-is still says OPEN"
Hi, I'm having issues where if it is a holiday the Is-Open still says Open, even though in the Overview it says the holiday name and is closed

Am I doing something wrong?

[2017-02-23 00:44] it0056 opened #53 "Prevent the use of an externa jquery script"
I customized my version of your script to use the jquery core instead because of:
- Better load performance
- more native WP
- Other plugins will not run into problems caused by this plugin.

**File: Classes\OpeningHours\OpeningHours.php**
**Replace the following code (line 98 to 119):**
[code]
**With the code:**
[code]

Please keep up the good work, love your plugin!

[2017-03-08 21:01] jgudde opened #54 "Sort Irregular Openings and Holiday overview"
Hi,

Love your plugin!

Is it possible to automatically sort the Irregular Openings overview [op-irregular-openings] on date starting with the earliest date? And I have the same request for the Holiday overview [op-holidays].

If this is not possible, is there a way to easily sort (or manage) the order of the overview?

Many thanks!

[2017-03-08 21:03] jgudde opened #55 "Automatically hide past dates"
Is there a way to automatically hide past Irregular Openings and Holidays in the overview [op-irregular-openings] and [op-holidays]?

Many thanks!

[2017-03-09 14:24] uwe81 commented on #52
First of all - great Plugin.
But I've got the same problem: op-is-open shortcode doesn't work correctly with irregular-openings.

Thank's for helping

[2017-03-23 11:22] peterhjalmarsson opened #56 ""Crash" with child sets"
When I add a child set, I get
`Warning: trim() expects parameter 1 to be string, object given in /storage/content/09/4001809/naturumdalarna.se/public_html/wp-includes/class-wp-meta-query.php on line 597 Catchable fatal error: Object of class WP_Post could not be converted to string in /storage/content/09/4001809/naturumdalarna.se/public_html/wp-content/plugins/wp-opening-hours/classes/OpeningHours

[2017-03-23 11:27] peterhjalmarsson opened #57 "op-is-open crashes"
When I try to use op-is-open, I get
[code]
op-overview works fine though.

[2017-03-27 18:53] bommelmans opened #58 "opening hours say open when closed"
i have set the plugin like this
opening hours 08:00 - 20:00
but at 20:30 it still say we are open....

and also i can't figure it out how to setup the 24 hours system
now i have in my site : 08:00 - 08:00

hope you can help me with this

[2017-04-10 07:25] gegeor commented on #44
Hello
I also  have  problem with  undersanding  the exact  syntax of shortcodes...Is there any kind  of  exact  examples  for  shortcodes?

thank you

[2017-04-10 19:34] janizde commented on #58
Hi @bommelmans I have just released a fix that would make it work with UTC offset timezones. Please check your WP Timezone Setting with both UTC offset and City if it works now

[2017-04-10 19:38] janizde commented on #44
Hi @gegeor, Shortcodes are a core component of WordPress. You can read about them here: https://codex.wordpress.org/Shortcode_API With the Plugin you would have to replace the Shortcode tag and set the attriubutes you want listed in the docs. I will add examples in the docs soon.

[2017-04-11 06:36] JesperStender opened #59 "*suggestions* concatonate closed days and show todays hours."
I have to enhancements that I would love to have implemented.
1.) The plugin can search for similar opening days and "concatonate" them into one row -
but it can't do that with closed days, could this be done? right now I would have to just do it with jquery, but it seems like a php version of this would be both faster and more clean.

2.) shortcode to show only todays opening hours - It is nice t

[2017-04-17 16:18] janizde commented on #58
@bommelmans Please check again, otherwise I will close this one.

[2017-04-17 17:04] janizde opened #61 "Escape HTML tags in Forms"
[tobifjellner @ wordpress.org]

Hi, I just looked at the translation of this plugin to Swedish.
I reacted at one string, namely: Holiday <tr> class
If this is just supposed to display this text, then you really should change the string into to escape that sign “less than” in the beginning of the tag.
In order not to mess up things in the browser.

[2017-04-17 17:19] #61 closed

[2017-04-17 17:20] janizde commented on #57
@peterhjalmarsson please check with version 2.0.5

[2017-04-17 17:21] janizde commented on #56
@peterhjalmarsson fixed in v2.0.5

[2017-04-17 17:21] #56 closed

[2017-04-18 00:21] peterhjalmarsson commented on #57
Thanks, but it has been too long, so I have moved on to another plugin. :-(

[2017-04-18 21:28] #57 closed

[2017-04-28 15:31] janizde commented on #55
implemented, will be released in next update

[2017-04-28 15:31] janizde commented on #54
implemented, will be released in next update

[2017-04-28 15:45] janizde commented on #53
thank you, I've added this and it will be released with 2.1

[2017-04-28 15:45] #58 closed

[2017-04-30 22:27] janizde commented on #59
Hi @JesperStender,
instead of adding two feature requests in one issue please separate them next time so they can be handled independently more easily.

1) This is actually the standard behavior. I have tried this and added a unit test verifying this behavior in 45e40d51c767ef25ec304706cfe34aa9c173506b
Please check again and if it doesn't work please speficy whether you have any Holidays / Irregul

[2017-04-30 22:27] janizde commented on #47
implemented, will come in 2.1

[2017-04-30 22:28] janizde commented on #44
I have added general doc on shortcodes, will come in 2.1

[2017-04-30 22:31] janizde commented on #6
I have added a today's opening times to is-open widget / shortcode. Will be released with 2.1. Although you cannot displays the "closing soon" message directly you can use the op_is_open_format_today filter to implement your custom behavior

[2017-05-01 08:12] gegeor commented on #44
Hi
thats great news!!!!!
Thank you:)

[2017-05-01 18:53] janizde commented on #40
@foomep implemented, will come in 2.1

[2017-05-01 18:54] janizde commented on #40
@Kahana82 see above, didn't see you initially proposed that :)

[2017-05-01 19:57] janizde commented on #15
@wato1987 implemented, release in v2.1

[2017-05-01 19:58] janizde commented on #48
@martinlyder I can't reproduce this behavior, please check again and specify whether you have any Irregular Openings or so

[2017-05-01 20:02] janizde commented on #52
@bensenoj @uwe81 have you checked with the latest version? have you set up your timezone correctly in **Settings > General**

[2017-05-01 21:51] jgudde commented on #55
Many thanks! When will the update be released?

[2017-05-02 16:30] janizde commented on #55
Propably on the weekend or so. You can already test the beta version by downloading from SVN trunk: https://downloads.wordpress.org/plugin/wp-opening-hours.zip

[2017-05-02 21:27] sorenk opened #65 "Suggestion: Support for "open-end" closing time"
It should be possible just to enter at opening time and leaving closing time blank.
In that case the opening hours output should show something like this:

Monday: From 12:00

[2017-05-02 21:30] sorenk commented on #15
Is this going to be a variable? So I can set it to 3 weeks or even more?
Does this also include the possibility to change the format on the days shown in the op-overview output, so it for instance could include a date instead of a weekday?

[2017-05-02 21:50] janizde commented on #15
@sorenk You can test the dev version by downloading from https://downloads.wordpress.org/plugin/wp-opening-hours.zip this is the RC unless there are any significant bugs

[2017-05-03 04:10] misagues commented on #54
Yes!
Works in version 2.1 rc

[2017-05-03 04:12] misagues commented on #55
Yes!
Works in version 2.1 rc

[2017-05-03 04:25] misagues commented on #40
Works in version 2.1 rc

But in the template "table" it is messy, it looks ugly.

![vista-tabla-opening-21](https://cloud.githubusercontent.com/assets/16360881/25648162/4764aac2-2fc9-11e7-9aa9-37cce234d5ed.JPG)

[2017-05-03 04:40] misagues opened #66 "Months in English in Holidays Widget v2.1rc"
In the Holidays Widget the months are not translated correctly.

In the template "table" only translate correctly when they have the StartDate and the EndDate. In the new display option when the holiday period is only 1 day they are not translated.

![vista-tabla-opening-21](https://cloud.githubusercontent.com/assets/16360881/25648301/bd8f0a84-2fca-11e7-94ac-12764c5ac5d2.JPG)

In the template "lis

[2017-05-03 06:19] misagues opened #67 "Today opening hours in Is Open Widget - v2.1rc - and future suggestion"
Yes!
Works in version 2.1 rc

Could you add these placeholders for two periods per day?

_%x$s:_ Formatted **end** time of first period on that day
_%x$s:_ Formatted **start** time of last period on that day

To formatted the hours correctly.
"_Hoy abrimos de 10:00 a 14:00 y de 16:00 a 20:00_"

Thanks!

[2017-05-03 17:51] janizde commented on #67
Hi @misagues thanks for the Feedback.

I struggled when specifying the placeholders, because the main Problem is, that per day you could have 0 - n different periods. It is really hard to figure out a format that works well with any number of periods and at the same time specifying a fixed amount of placeholders.

This is why I added the `op_is_open_format_today` filter to give everyone the possib

[2017-05-04 17:57] misagues commented on #67
Hi @janizde,

It really does not matter.

With this format is perfect.
"Hoy abrimos 10:00 - 13:30, 16:00 - 20:00"

It was to be read better semantically in Spanish. But it does not compensate the end with the work that generates the solution.

Do not spend more time.

Thanks!

[2017-05-05 12:57] janizde commented on #65
Hi @sorenk, this will probably come in the next version (so 2.2) along with all-day opening times etc.

[2017-05-05 19:04] janizde commented on #66
released in v2.1

[2017-05-05 19:04] #66 closed

[2017-05-05 19:06] janizde commented on #59
released in v2.1

[2017-05-05 19:06] #59 closed

[2017-05-05 19:06] janizde commented on #55
released in v2.1

[2017-05-05 19:06] #55 closed

[2017-05-05 19:07] janizde commented on #54
released in v2.1

[2017-05-05 19:07] #54 closed

[2017-05-05 19:07] janizde commented on #53
released in v2.1

[2017-05-05 19:07] #53 closed

[2017-05-05 19:07] janizde commented on #47
released in v2.1

[2017-05-05 19:07] #47 closed

[2017-05-05 19:07] #44 closed

[2017-05-05 19:07] janizde commented on #40
released in v2.1

[2017-05-05 19:07] #40 closed

[2017-05-05 19:07] janizde commented on #15
released in v2.1

[2017-05-05 19:07] #15 closed

[2017-05-05 19:08] janizde commented on #6
released in v2.1

[2017-05-05 19:08] #6 closed

[2017-05-12 15:53] marvinschroeder opened #68 "Child-Set überschreibt Ausnahmedatum"
Wenn man ein Ausnahmedatum im Eltern-Set festlegt und dieses dann durch ein Child-Set für einen bestimmten Zeitraum überschreiben lässt, ist das Ausnahmedatum nicht mehr in der Anzeige. Es ist quasi vollständig überschrieben.

Eltern-Set: Mo-Fr 8-12, Sonntag geschlossen
Ausnahme: Muttertag, Sonntag 8-12
Child-Set: im Monat März, April, Mai generell Mo-Fr 8-17, Sonntag geschlossen

Ohne das Child-S

[2017-05-16 10:02] BeingCreativeUs opened #69 "Problems with irregular openings"
I updated it and in the beggining it seemed it was working fine, but on sunday we were open and the plugin stay showed we were closed and that we would open on next saturday, also, I tried the option of displaying the opening times always and isn't working, I have to use the "When is open" option, and I want to display it the entire day.  Maybe it has something to do with the fact that I use irreg

[2017-05-25 08:00] kat2310 opened #70 "'Current day' shown incorrectly when timezone is set correctly"
Hi,

My current day is incorrect, I have checked my timezone settings and they are set correctly however, the widget is still showing a day ahead. Any ideas?

Thanks,
Katarina

[2017-05-25 12:44] janizde commented on #70
Hi @kat2310 what do you mean exactly? The current day option in the Is Open or the highlighting of the Overview?

[2017-05-25 13:31] janizde commented on #68
fixed in d6c48e46712a975a7b3ae6ccb526873a3747eea7
will be released in hotfix v2.1.1

[2017-05-25 13:31] #68 closed

[2017-05-25 22:39] kat2310 commented on #70
Hi,

The highlighting of the current day in the overview.

Thanks,
Katarina

[2017-05-26 19:05] janizde commented on #70
Ok thank you, please also answer the following questions so I can replicate the bug better:

* Please give me your exact timezone and start of week settings you made in wordpress.
* Does this always occur or only in the beginning and end of a day?
* Do you use compressed opening hours?
* Is the Is Open Widget working properly?
* Do you have any Holidays / Irregular Openings / Child Sets?

Thank yo

[2017-05-26 19:46] janizde commented on #69
Hi @BeingCreativeUs,
please specify the following so I can replicate the error better:

* Your WordPress timezone and start of week setting
* The Opening Hours and Irregular Openings you have set up and which caused the error.

Thank you

[2017-05-29 11:11] BeingCreativeUs commented on #69
Hi Janizde,

Timezone: UTC +2 / Madrid
Start of week: Monday
Irregular openings: I attach a screenshot.
![irregular](https://cloud.githubusercontent.com/assets/28728339/26547626/31526bdc-4470-11e7-93b0-d70c965a2e5f.png)

Usually happens on sundays, and it just displays the next irregular opening (skipping the opening hours of the current day).

[2017-05-29 20:32] janizde commented on #69
Oh I see you have a lot of irregular openings :) This also helps me to see how people are actually using the plugin, many thanks!

Do you have any regular opening hours set up or only irregular openings? When you say "skipping the opening hours of the current day" do you mean the regular opening hours or the irregular opening on sundays?

[2017-05-29 20:33] janizde opened #71 "Synchronize all shortcode attributes / widget options"
Some shortcode attributes / widget options are not fully documented. E.g. "caption_closed" in op-overview shortcode is missing

[2017-05-29 20:40] BeingCreativeUs commented on #69
I only have the irregular openings. Also I have a child set of opening times for july and august because we open then everyday with the same schedule, I attach screenshot. Usually we open saturday and sunday, but some weekends we open more or less hours, that's why I don't have regular opening hours. When the plugin fails is usually on sundays. I don't know why. I tried to remove one and add it ag

[2017-05-30 00:17] misagues commented on #69
Hola @BeingCreativeUs,

Creo que tienes mal planteados los horarios en varias cosas, aunque sin conocer el caso real, tampoco estoy seguro.

Si los domingos los tienes todos definidos en aperturas irregulares no deberías poner un horario regular en los domingos.
También veo que defines algunos horarios de 19:00h a 01:00h, esto creo que puede estar mareando el plugin, ten en cuenta que las 01:00h e

[2017-05-30 07:19] BeingCreativeUs commented on #69
Hola @misagues, creo que no has leído bien lo que he escrito anteriormente, quizá mi inglés no es lo suficientemente bueno. Esas aperturas regulares (captura 3) son un subconjunto, que se aplica solo desde el 1 de julio hasta el 3 de septiembre, y no debería afectar a las aperturas irregulares que tengo configuradas actualmente, ya que todavía estamos a 30 de mayo. Y el problema de tu sugerencia e

[2017-05-30 20:32] mdbavister opened #72 "Another issue with irregular openings"
One of our locations has regular open hours = Mon-Thu 7:30-00:00 (midnight), Fri 7:30-18:00, Sat 12:00-18:00, and Sun 12:00-00:00. So far working great - until we had an exception for the US Memorial Day Holiday on Monday 5/29. The exception hours were 12:00-00:00, which again worked as expected on Monday. But today, Tuesday, our shortcode shows us as CLOSED today next open on Wednesday - instead

[2017-05-30 20:44] misagues commented on #69
Hola @BeingCreativeUs,

Tranquilo que mi inglés tampoco es de Harvard.

Ok. Viendo el calendario veo tu problemática horaria y me he quedado un poco a cuadros.

Como aún te quedan 3 fines de semana "normales" yo haría lo que te dije en el anterior comentario; eliminaría todos los horarios y desde cero confeccionaría el actual como horario regular; configurando solo sábado y domingo.
Sábado 18:00h

[2017-05-31 11:15] BeingCreativeUs commented on #69
Hola @misagues,

Voy a hacer la última recomendación que me haces a ver si funciona bien.

Publicaré una respuesta cuando lo tenga hecho con una captura para que me indiques si está bien o no.

Un saludo.

[2017-05-31 11:34] misagues commented on #69
Hola @BeingCreativeUs,

Haz una simulación este fin de semana a ver que tal.

Creo que el problema está al pasar de las 23:59h en un día. Acabo de ver otro caso parecido con el mismo problema.

Issue  #72

Ya nos cuentas.

[2017-05-31 11:43] BeingCreativeUs commented on #69
Hola @misagues,

Pero en caso de que fuera eso, no entiendo porque tiene que afectar ahora si no empezamos con ese horario hasta el 1 de julio.

Y aprovecho para sugerir que incluyáis un botón de duplicar apertura irregular, porque ahora que estoy volviendo a poner los horarios creo que sería muy útil para personas con el mismo problema que yo.

Un saludo.

[2017-05-31 11:57] BeingCreativeUs commented on #69
Hola @misagues,

Aquí te dejo una captura de como ha quedado para que me indiques si es lo que me comentabas o no.
Lo probaremos a ver que tal este fin de semana y si funciona bien daremos por cerrado el tema.

Muchas gracias por tu ayuda,
Un saludo.

[2017-05-31 14:22] janizde commented on #72
Hi @mdbavister, this is probably related to https://github.com/janizde/WP-Opening-Hours/issues/69

I have pointed out the bug and will try to fix and release it today.

Thank you

[2017-05-31 14:23] janizde commented on #69
@misagues @BeingCreativeUs I have pointed out the bug and will try to fix and release it today.

Thanks for reporting and providing all of the information

[2017-05-31 14:25] BeingCreativeUs commented on #69
Hey @janizde! So there's actually a bug and not bad configuration? Thank you for your help. Also in the previous post I made a suggestion, maybe you can include it in the update. The suggestion is that maybe the plugin could have a duplicate button on the irregular openings so people like me can add them quickly. Thank you so much.

[2017-05-31 15:14] janizde commented on #69
@BeingCreativeUs I will release the bugfix as a patch version (where usually only bugfixes are included). Please open a new issue with the "enhancement" label, this will then maybe be implemented for v2.2

[2017-05-31 15:18] BeingCreativeUs opened #75 "Duplicate button for irregular openings"
Hi! I want to suggest to add a duplicate button for irregular openings, for people who has a lot of irregular openings like me, to add them quickly. Thank you.

[2017-05-31 15:20] BeingCreativeUs commented on #69
@janizde I already published it but I don't find how to add the label, so I guess you will have to. Thank you.

[2017-05-31 15:33] janizde commented on #72
published in v2.1.1 https://github.com/janizde/WP-Opening-Hours/releases/tag/v2.1.1

[2017-05-31 15:33] #72 closed

[2017-05-31 15:33] janizde commented on #69
published in v2.1.1 https://github.com/janizde/WP-Opening-Hours/releases/tag/v2.1.1

[2017-05-31 15:33] #69 closed

[2017-05-31 15:34] janizde commented on #68
published in v2.1.1 https://github.com/janizde/WP-Opening-Hours/releases/tag/v2.1.1

[2017-06-01 00:14] misagues commented on #69
Thanks for job @janizde
love the plugin

[2017-06-01 00:28] misagues commented on #69
Hola @BeingCreativeUs,
Como siempre @janizde se lo curra un montón para mantener su plugin actualizado y ha corregido el problema en cuanto ha podido.

Aparte de que el plugin tuviese el problema del salto de la medianoche, respecto al como plantear la distribución de tu horario, veo más correcta esta última configuración y, creo que, de cara a un futuro poder modificar horas lo tendrás más claro.

[2017-06-01 08:57] JesperStender opened #76 "Todays openinghours doesn't include holiday name"
When you set is-open to show_today="always" and there is a holiday, no text is shown - Should this not show the holiday name?

[2017-06-01 11:16] misagues commented on #76
Hi @JesperStender.

Depending on your settings.

Do you use widget or shortcode?

To do what you want, with shortcode would be:

[op-is-open set_id="ID" show_today="always" closed_text="We're corrently closed"]

With shortcode would be:
See [Is Open Widget](https://github.com/janizde/WP-Opening-Hours#is-open-widget) documentation to configure.

[2017-06-01 11:21] JesperStender commented on #76
I use the shortcodes - The thing is, that I need the same texts for open and closed - which is fine - This way, even though it is evening and the store is closed, it still says the opening hours for the current day. all that works fine - It is just that IF there is a holliday, then it just uses the "closed_text" and doesn't tell which holliday it is - there could be a setting to use the "holliday

[2017-06-02 23:17] janizde opened #77 "Template API to add custom templates for shortcodes"
https://wordpress.org/support/topic/opening-hours-add-custom-template/#post-9192724

There should be a way to add custom templates to shortcodes from a theme or extension plugin

[2017-06-04 16:31] ClaudioQ opened #78 "include_past="false" in "op-holidays" shortcode works like include_past="true""
I'm using Wordpress 4.7.5 and I found that if I use include_past="false" (which should be the default) the past holidays are shown, but when I remove this attribute, the past holidays are not shown, it seems "false" value is not rightly managed.

[2017-06-04 17:21] ClaudioQ opened #79 "Wordfence plugin conflict"
After the installation of the version 2.1.1 of the plugin, accessing to Wordfence Live Traffic I wasn't able to access to the traffic list. I attached Wordfence 6.3.10 screenshot

![wordfence](https://cloud.githubusercontent.com/assets/26606009/26763845/deb750e6-495a-11e7-8871-669a2e9ccca0.jpg)

[2017-06-05 09:10] miloandco opened #80 "Is open now, bool"
Is it not possible to just do a shortcode that returns a bool, whether it's currently open or not? without returning any output, except for the bool.

Could be usefull to show/hide a whole section, depending on the status.

[2017-06-05 11:02] janizde commented on #80
Shortcodes cannot "return" anything explicitly they can only render content or not. However you can interact with the Opening Hours core programatically: https://github.com/janizde/WP-Opening-Hours/blob/master/doc/developer-guide.md#sets

[2017-06-05 11:02] #80 closed

[2017-06-05 12:43] janizde commented on #79
Hi @ClaudioQ, did this not happen wit v2.1 or any previous version?
Are there any errors in your Browser's console?

[2017-06-05 14:11] ClaudioQ commented on #79
Hi @janizde, thanks for your support. I'm sorry, but I started using the plugin only from version 2.1.1, so I can not tell if this behavior occurs from this version or not.

I have verified, there are two problems with the javascritpt: enabling Opening Hours admin.liveTraffic.js doesn't work properly.
![errors_wordfence](https://cloud.githubusercontent.com/assets/26606009/26787259/a6017f7e-4a09-11

[2017-06-07 21:33] janizde commented on #79
Thanks I'll have a look

[2017-06-07 22:35] janizde commented on #79
HI @ClaudioQ,
I have just had a look on it and figured out that Opening Hours and Wordfence use different jQuery UI Plugins that are sharing the same namespace and as a result are conflicting.
Unfortunately this is not something that can be fixed in a quick hotfix.
I will probably offer a solution to this in the next minor or major release.

[2017-06-08 10:13] ClaudioQ commented on #79
Hi @janizde,
thanks for your support, so I'll wait your next release.

I also had a support request for the Wordfence team, I take the answer below in the hope that it may somehow become useful (otherwise please ignore it).

The guide is this link: https://codex.wordpress.org/Plugin_API/Action_Reference/admin_enqueue_scripts#Example:_Load_CSS_File_from_a_plugin_on_specific_Admin_Page

[2017-06-12 18:48] janizde commented on #79
Oh yes I could actually do this as a quick fix :) I will release a patch in the next couple of days

[2017-06-12 19:55] janizde commented on #79
I have fixed this one in v2.1.2 and released it to the WP repositories. Please update and check

[2017-06-12 19:55] #79 closed

[2017-06-14 03:53] misagues commented on #79
Work!
WordPress 4.8 + Duplicator 2.1.2 + Wordfence 6.3.10 OK

Thanks @janizde

[2017-06-16 07:58] ClaudioQ opened #83 "open_text attribute of op-is-open shortcode stop working"
Hi,
I installed the new version of the plugin (2.1.12) after uninstalling the previous one (2.1.11).
During the business hours, the plugin shows "We're currently open." instead of the message in the open_text attribute of op-is-open shortcode.

It seemed to me that the message worked correctly in the previous version of the plugin, but I'm not sure (I tested it during closing hours).

I'm using th

[2017-06-16 10:19] janizde commented on #83
Hi, it seems you missed an equal sign after the open_text in the shortcode. Please check

[2017-06-16 13:06] ClaudioQ commented on #83
Hi,
you are right! I'm sorry, it was my mistake.

Thanks for your support.

[2017-06-17 17:37] #83 closed

[2017-06-28 18:00] sugitime opened #84 "Cannot select Midnight"
The interface for the application does not allow for the selection of Midnight (as 12:00am is technically the next day). If 00:00 is selected, hours will show as open for the entire 24 hour period.

If the database values are changed manually (wp_postmetadata._op_set_periods) to 24:00 instead of 00:00, you still get the same issue of showing open for 24 hours.

The current work around is to set th

[2017-06-30 09:45] RHOTELET opened #85 "Won't save my preset"
Hi !
The plugin won't save my hours. By default it' with open from 12:00 Am to 12:00 AM, but if I change it, and click "Save", it won't save the hours i've changed !
Thank U for your help

[2017-07-01 04:45] misagues opened #86 "Is Open Widget and Shortcode show today always no work"
Is Open Widget and Is Open Shortcode show today only show today's opening hours when is open.

Always no work.

Thanks @janizde

[2017-07-19 00:06] Braunson commented on #86
Same issue here, I've narrowed it down to the parameter `todays_string` from `classes/OpeningHours/Modules/Shortcode/IsOpen.php` function `shortcode` can't seem to properly apply filters to the line 79 and instead returns null which gets passed to the shortcodes `is-open.php` view.

[2017-07-19 00:12] Braunson commented on #85
Same issue here.

[2017-07-19 00:52] Braunson commented on #86
A temporary fix for this is to edit `classes/OpeningHours/Modules/CustomPostType/MetaBox/OpeningHours.php` just under line 66.. adding this:

[code]

The whole function..

[code]

It's not the best but until a proper fix/decision is made it'll work to fix this issue and issue #85

[2017-07-19 09:23] janizde commented on #86
Thanks for pointing out the error, I will fix it soon

[2017-07-19 09:25] janizde commented on #85
@RHOTELET @Braunson This seems to be a misconception. AFAIK periods of 00:00 to 00:00 are discarded. I have added it to the Milestone Period Refactoring https://github.com/janizde/WP-Opening-Hours/milestone/2

[2017-07-19 21:48] misagues commented on #86
I'm sorry, the widget does work.

I did not configure the widget correctly.

I did not write the Today' opening hours string (%1$s, %2$s or %3$s).

Sorry for the disturbances @janizde

[2017-08-02 18:59] 2jaxx opened #87 "Removing borders from table"
I would like to display the table without borders. I also have an issue where the left column is composed of only one cell, the upper right cell obviously contains that missing cell.
Look here: https://www.scheiper-comtrainer.de

[2017-08-02 19:59] janizde commented on #87
Hi @2jaxx ,
this is not specifically related to the plugin itself but rather to the theme you use. The overview table is displayed in your theme's default table design (which also includes that there are no borders in the weekday names, which is also specified in your theme's css).
To disable all borders to have to set `border: none` or even `border: none !important` for the selectors `table`,`tab

[2017-08-02 19:59] #87 closed

[2017-08-03 22:24] Braunson commented on #85
@janizde Regardless it never saves my hours in the backend, which makes this plugin useless to use.

[2017-08-03 22:49] Braunson commented on #86
@janizde I'm having this same issue with Irregular hours too, they don't save. 😢

[2017-08-04 09:43] 2jaxx opened #88 "Irregular opening hours in two columns?"
I would like to display irregular opening hours without displaying the name of the particular entry.
Using three columns in my sidebar causes display in two rows for the date. Analog to the overview, I would like to have the exact date on the left, opening hours on the right.
Using css for not showing empty cells is not applicable as there is no way to define an entry without a name. Is there any

[2017-08-04 14:14] dudgemaster opened #89 "Days and Times options"
Hi,
I am trying to change the format so that the Day and Time show on one line rather than in seperate boxes. i am happy to change the code for my site to do this but not sure where the time and day requests are pulled from.
in the long term an option to show this would be great.
![opening times](https://user-images.githubusercontent.com/30547701/28972377-5b0da0ea-7927-11e7-9157-14cc4a474089.jpg)

[2017-08-05 10:25] dudgemaster commented on #89
So basically i want to move the call day hook in to the same line as the times

[2017-08-14 15:57] GuteIdee opened #90 "attribute include_io and include_holiday within op-is-open"
It would be very usefull to have attribute include_io and include_holiday within op-is-open

[2017-08-14 16:54] #90 closed

[2017-08-14 18:03] janizde commented on #89
Hi @dudgemaster,
I am planning on a Template API to create any DOM you like from the Opening ours data but this will probably take some time. For the time being you have several options:

* Edit the plugin template file /views/shortcode/overview-list.php
* Use the table template and use custom styles
* Try to use custom CSS styles for the list template (this can be a bit tricky with <dl>)
* Use th

[2017-08-14 18:03] #89 closed

[2017-08-14 18:13] janizde commented on #89
@dudgemaster There is another option which I consider the best: use the Shortcode Template filter which is documented here: https://github.com/janizde/WP-Opening-Hours/blob/master/doc/filters.md#op_shortcode_template

You can check for `$shortcode instanceof \OpeningHours\Module\Shortcode\Overview` and then specify a custom file path. Look at the overview template files in /views/shortcode/overvie

[2017-08-14 18:24] janizde commented on #88
@2jaxx for now you can use a custom template with the template path filter: https://github.com/janizde/WP-Opening-Hours/blob/master/doc/filters.md#op_shortcode_template.

As for the Overview with Dates theres currently only the option to interact with the OverviewModel API programatically. Then you will get instances of Weekday and have to translate them to the actual date context: https://github.

[2017-08-14 18:25] janizde commented on #88
But I will be offering a Template API for something like this in the future, currently don't have the time to do any development on the plugin itself

[2017-08-14 18:50] 2jaxx commented on #88
Thanks a lot. I will look into that.

[2017-08-14 18:50] #88 closed

[2017-08-15 13:06] janizde commented on #86
Thanks for pointing out @Braunson. Could you maybe branch from master and send a PR for this?

[2017-08-15 16:09] Braunson commented on #86
@janizde will do

[2017-08-19 12:42] a3rosol opened #93 "[Question] Separate Childset for all hoildays?"
We have different opening hours during school holidays. Is it possible to specify multiple dates for Child Sets? Or at least clone a child set?

[2017-08-23 15:55] jacksonhass opened #94 "Please help me - Opening Hours"
Please, how I change the color of title?
Now is Red, I need change to WHITE/BOLD.
See the image.

Thanks and congratulations for the plugin.
![captura de tela 2017-08-23 as 11 51 28](https://user-images.githubusercontent.com/31285128/29625455-b7d0f6a2-87f9-11e7-9ff5-71cdc8c819af.jpg)

[2017-08-24 20:07] janizde commented on #94
Hi @jacksonhass the plugin uses your theme's standard sidebar heading styles. You will have to change the style of your theme's headings with CSS (or specify a selector only for the opening hours heading).

[code]

[2017-08-24 20:07] #94 closed

[2017-08-24 20:09] janizde commented on #93
@a3rosol what do you mean by multiple dates? You can specify a time range with the start and end date of the summer holidays. Cloning is possible through other plugins for WordPress e.g. https://de.wordpress.org/plugins/duplicate-post/. I haven't used it with opening hours but I think it should work

[2017-08-25 16:52] a3rosol commented on #93
Like one set with regular hours and one set for _all_ holidays. It would be easier to specify all these holidays in the child set.
But thanks for the workaround :)

[2017-08-28 17:46] janizde commented on #93
Ok so it would be something like recurring child sets. This is currently not available. Maybe I will add some kind of "pro" feature for it, but currently out of scope.

[2017-08-28 17:46] #93 closed

[2017-08-28 17:47] janizde commented on #85
Closing this one as it has probably been fixed with @Braunson PR in 2.1.3.

[2017-08-28 17:47] #85 closed

[2017-09-11 12:29] FlorianMoser opened #95 "getIrregularOpeningInEffect ignores timezone"
OpeningHours\Entity\IrregularOpening::isOpen() seems to ignore the timezone.

How to reproduce:
[code]
These are the `$now` and `IrregularOpening` vars:

[code]

The expected output would be `'closed'`, but it is `'open'`.

As soon as I change the `$now` time to `14:11`, it works as expected. The timezone used in the example has GMT+2, so it is simply the timezone that causes the wrong result.

[2017-09-11 19:10] janizde commented on #95
Hi @FlorianMoser,
I think this is actually the right behavior as WordPress sets the default server timezone to UTC https://weston.ruter.net/2013/04/02/do-not-change-the-default-timezone-from-utc-in-wordpress/.

What you are checking is: Is 14:09 in Europe/Zurich (which is 12:09 in UTC) between 01:11 UTC and 12:10 UTC, which is is the case. So the method returns `true`. So rather than ignoring the

[2017-09-11 19:39] FlorianMoser commented on #95
The reference is UTC, but as a WordPress user you set your own timezone under "Settings" => "General". So one would expect that the date/time he enters for "Irregular Openings" is based on his current timezone.

When I set an "Irregular Opening" start time of 01:10 and an end time of 12:10 (as in the example above), I expect that the state is "closed" between 01:10 and 12:10, not 03:10 and 14:10.

[2017-09-11 19:44] FlorianMoser commented on #95
By the way, `Period` behaves correctly in the exact same situation:

[code]

The output here is:

[code]
And the state is as expected `'closed'`.

`IrregularOpening` should behave equally to be consistent.

[2017-09-11 19:45] janizde commented on #95
Ok so you have set the values 01:10 and 12:10 in the interface, I thought it has already been converted in the dump. I will have a look at it when I have the time.
Thanks for pointing out

[2017-09-11 19:49] janizde commented on #95
Have you come across this problem while using one of the Widgets / Shortcodes or while using the PHP API? Because when using the API you can just drop the timezone which will then be in UTC which is "fake Europe/Zurich" and it should work.

[2017-09-11 19:51] FlorianMoser commented on #95
I should have mentioned that, yes :-). The dump is exactly the time I entered in the interface.

Thanks for looking into it.

[2017-09-11 19:52] FlorianMoser commented on #95
API only. But as I mentioned above, Period and IrregularOpenings behave differently for exactly the same date.

[2017-09-15 09:34] martinlyder commented on #48
I think it refers to a old beta version... Im Closing this now...

[2017-09-15 09:34] #48 closed

[2017-09-18 16:16] pnpetroff opened #96 "op_shortcode_template always points to plugin dir"
It seems that using the `op_shortcode_template` filter is impossible to be used in a theme.

You can't create a custom template file the theme directory as it always points to the plugin one:

[code]

`op_plugin_path()` is always appended to the URL.

Shouldn't the apply filter be after the `op_plugin_path()` line?

[2017-09-28 17:54] janizde commented on #96
Yes that's right, would be better to have it without constraints. I currently don't have much time for the plugin, so send a pull request if you'd like. If so, then please add an additional filter, as other people might use the FILTER_TEMPLATE under the assumption that it will be appended to /views and maybe mark the old one as deprecated. (Would be great to have this change reflected in the filte

[2017-10-09 13:35] JesperStender opened #97 "op overview holiday, off by one day"
When i set my holidays to my tuesday this week, it shows it on monday in the overview
Meaning that it displays that the holiday is 1 day before the actual day.
- also, it does not overwrite the op-is-open when that day arrives?

my shortcodes,
is-open  : <?php echo do_shortcode( ' [op-is-open set_id="openinghours" open_text="Åbent i dag" closed_text="Åbent i dag" show_today=open] ' );?>

op-overvi

[2017-10-09 19:30] janizde commented on #97
Hi @JesperStender ,
maybe you've already come across this but I always ask to be sure: Have you checked your timezone and start of week settings in WordPress' `Settings > General`?

[2017-10-10 06:30] JesperStender commented on #97
okay, so i found the problem, and i am pretty sure that it has nothing to do with your plugin :)
In one of my template files, it is setting default timezone to copenhagen, and even though the general settings is also set to copenhagen, it screws up the date for your plugin.

In my mind it should not effect each other, but somehow it does.
meaning that I will have to make new time and date calculat

[2017-10-10 06:30] #97 closed

[2017-10-10 06:39] janizde commented on #97
WordPress sets the PHP timezone to UTC and calculates the tz you set up on top of UTC. So setting the default timezone will break WP

[2017-10-10 06:59] JesperStender commented on #97
thank you!
I guess that you would know about how WP sets its time.

If anybody reads this in the future and needs it.
My fix was, instead of setting timezone, just calculating with the offset like WP does :
time() + (1 * 2 * 60 * 60); // adding two hours to UTC time.

[2017-10-10 17:48] Braunson commented on #76
@janizde I can add this feature in, mind adding the tag `Hacktoberfest` to it for me :) https://hacktoberfest.digitalocean.com/

[2017-10-10 17:49] janizde commented on #97
afaik, [`current_time`](https://developer.wordpress.org/reference/functions/current_time/) will do the same but adjusted to the timezone setting that you have actually made in the WP settings

[2017-10-16 01:59] k3v1np opened #99 "Irregular Hours "Closed" Option Request"
Either a check box on an irregular hour entry to over ride regular hours as closed or by entering 0:00 for open and closed and  displays as closed for that day.

[2017-10-16 05:29] k3v1np commented on #99
I guess you can always use the Holiday section to set specific days as closed.

[2017-10-16 05:59] k3v1np opened #100 "Top Date always the current date."
My store hours can have no weekly pattern.  I would like to be able to have the current day of the week always be the top entry displayed but would still display a full 7 days.  That way someone checking store hours on Saturday would not look at Sunday (at the top) and assume that the store would be open at the same time as last week when I have put in an irregular entry for the upcoming Sunday.

[2017-10-16 09:32] janizde commented on #76
added feature in https://github.com/janizde/WP-Opening-Hours/pull/98

[2017-10-16 09:32] #76 closed

[2017-10-16 09:34] janizde commented on #99
@k3v1np yes indeed, and as you don't have regular hours on that day (as I understood in your other issue) you don't have to specify anything and it will automatically be closed

[2017-10-16 09:37] janizde commented on #86
fixed in https://github.com/janizde/WP-Opening-Hours/pull/92

[2017-10-16 09:37] #86 closed

[2017-10-16 09:43] janizde commented on #100
Feature summary:

- Add shortcode attribute `start_of_week` (string enum) and widget option (select box) "Start of Week" with options:
  1. `wp_setting` / "WordPress Setting" (default), will leave the behavior as is
  2. `current_weekday` / "Current weekday", will always put current weekday on the top
- Add Setter `setStartOfWeek` in class `OverviewModel`
- Adjust shortcode `Overview` and pass cur

[2017-10-16 09:44] #99 closed

[2017-11-01 08:48] janizde opened #101 "Make OverviewModel aware of dates"
The OverviewModel should also include the actual date(s) of a row in the Overview to be able to show the date of the specific occurrence in the Overview widgets and shortcodes

[2017-11-02 10:39] janizde opened #102 "Merge child set data rather than replacing the whole set in effect"
Currently, when a child set is in effect, the data of other child sets or the parent set is not taken into consideration when looking for the next open period.

[2017-12-01 05:02] pauldburton opened #103 "The ability to mark a day as by appointment only"

[2018-02-20 09:25] JesperStender commented on #76
Was this ever released? because I can't seem to find it?

[2018-02-20 20:42] janizde commented on #76
@JesperStender it has been merged to develop but has not yet been released. I actually planned to add some more fixes to the patch release but it never happened. I will probably make a new patch for this one this week

[2018-02-21 07:34] JesperStender commented on #76
sounds amazing! I incorporated the changed files yesterday, and it looks good!
The only thing is, that if you have both a holiday and an irregular day on the same day, it will write both messages.
So maybe that should be pointed out in the readme, or something :)

[2018-03-05 23:44] janizde opened #104 "schema.org support"
Check support for multiple periods per day in the schema.org spec again and then add the corresponding markup to the plugin templates

https://wordpress.org/support/topic/schema-org-caching-and-wpml/

[2018-03-08 18:55] chrismccreery opened #105 "op-is-open shortcode not rendering."
When I try to use the following [op-is-open set_id=”11431″] in the editor it simply just displays that code on the page. I have other shortcodes on the same page for testing and they render fine. Am I missing something here?

Thanks.

[2018-03-08 19:02] #105 closed

[2018-03-30 19:50] rvencu opened #106 "Sporadic hours on Saturdays"
Hi, I have some sporadic hours on Satudays. We are treating patients on Saturdays only if they make an appointment with the doctors (so both agree to meet on Saturday). Not every Saturday is a working day and which Saturday is and which is not is impredictible.
This sound a lot like irregular hours but I cannot seem to find a proper way to implement it.
Did you encountered such a situation elsewhe

[2018-04-01 09:39] janizde commented on #106
Hi @rvencu yes that should be possible using irregular openings:

* Do not set any regular opening hours for saturday
* Add irregular openings only on the saturdays (specify the date) when you are open
* In the overview you will then have to set the shortcode option `include_io` to make the table show the irregular openings

[2018-04-01 09:45] #106 closed

[2018-04-01 10:20] rvencu commented on #104
Thanks. I made my own schema.org plugin for a medical clinic. Opening hours are important and currently I set them manually in schema org. It would be nice to be able to replace the functions I made with automated ones and have a centralized place to manage opening hours.

[2018-04-01 17:50] janizde commented on #104
Hi @rvencu
I am currently working on the feature, you can track the progress in the branch: https://github.com/janizde/WP-Opening-Hours/tree/feature/schema.org

[2018-04-01 20:04] rvencu commented on #104
Great, I am set to test your code on my data on a special test page template. If I will have issues with the result I can make that page password protected and share the password here for further testing

[2018-04-03 07:13] rvencu opened #107 "Suggestion for overview"
The overview normally says for closed status: ”we will open again weekday (date here) from starthour to endhour.”

This message is a bit awkward if we are already on the day mentioned on the message, like early morning or in the break hours. The message should read ”we will open again today from starthour to endhour” instead.

[2018-05-14 12:40] AndyMcLean005 opened #108 "Overview, Week offset, Child Set issue."
Bit of a weird one, but I'm currently working on displaying the current week's opening times and next week's opening times. The current week re-opens a little later in the afternoon but has the same morning opening time, so requires a child set as the io option only allows for 1 opening time per date. The week after is business as usual. However both overviews show the child set opening times.

Su

[2018-05-14 12:53] AndyMcLean005 commented on #108
To add to this, this issue only appears while the child is active. If I set the child to next week, then display next week's opening hours, it still shows the parent set's hours.

It only shows the child set's hours while the child set is active.

[2018-05-15 08:59] Stender89 commented on #107
you can write your own?
"We're open again on %2$s (%1$s) from %3$s to %4$s"
or you could use show_today="always" and not show the next one - Then you can format the today string however you want.

[2018-05-15 09:15] Stender89 opened #109 "Adding custom templates and attributes (Feature request)"
It Would be fantastic to be able to code your own templates and attributes -
Ie. I have a template for only showing the weekdays, and one for the weekends -
But to be able to do this, I have to go into your classes/module/shortcode/overview.php
and add it to the $templateMap array.
This way I can add new valid template-attributes to the shortcodes.
like : [op-overview etc etc template="yourCustomT

[2018-05-15 17:26] rvencu commented on #107
We are still closed. If we open tommorow then the default message is OK.
"We're open again on %2$s (%1$s) from %3$s to %4$s"
If we open later today, it should read:
"We're open again today from %3$s to %4$s"
Here "today" should replace "on %2$s (%1$s)"

[2018-05-17 11:38] codeagencybe commented on #103
Any update on this?

[2018-05-17 11:49] codeagencybe opened #110 "op-overview Shortcode / show_closed_days false not working"
When using the attribute "show_closed_days" to false in op-overview shortcode, it's not working.

show_closed_days="true", works fine
show_closed_days="false", still shows the closed days with it's caption
When I remove the attribute, then it's gone and fine.

I would suppose that the bool value FALSE should also work as supposed?

Is it possible to use the attribute closed_text in this same short

[2018-05-18 10:29] janizde commented on #103
This will be part of a major refactoring of how periods are internally represented which will enable easier extensibility but it will probably not come too soon. In the next months there will be only minor fixes and improvements

[2018-05-18 10:37] janizde commented on #107
You can use the `op_is_open_format_next` https://github.com/janizde/WP-Opening-Hours/blob/master/doc/filters.md#op_is_open_format_next to implement your custom behavior. It is currently not possible through the widget form.

In your filter you can get the current date with `OpeningHours\Util\Dates::getNow` and then compare the date with the data from `$nextPeriod`

[2018-05-18 10:53] rvencu commented on #107
Great!

[2018-05-18 10:56] janizde commented on #109
Hi, I have actually started to do a refactoring on how shortcodes a exptensible but I think this will be part of a major version change. I will maybe add a simple filter to the current version as you suggested. I will keep you updated. There will maybe be an update coming this weekend including the schema.org feature and the filter.

[2018-05-18 10:57] janizde commented on #109
As this is already filed in this feature request I will close this issue: https://github.com/janizde/WP-Opening-Hours/issues/77

[2018-05-18 10:57] #109 closed

[2018-05-18 10:59] janizde commented on #108
Hi @AndyMcLean005 this is a misconception on how child sets take effect. It is already filed in https://github.com/janizde/WP-Opening-Hours/issues/102 and will be part of a major refactoring in 3.0. but this will probably take some time. I will close this one as the feature is already requested.

[2018-05-18 10:59] #108 closed

[2018-05-18 11:09] #107 closed

[2018-05-31 08:23] yvesvanlaer opened #111 "Add translation string "today_format" to POT."
Great plugin, awesome work!

I noticed that the "today_format" string is not available in the translation POT.
It is accessable because it has been added like all the other translated strings (see IsOpen.php).
`'today_format' => __('Opening Hours today: %1$s', 'wp-opening-hours'),`
So I added it manually to the translation POT.

[code]

But please add this to the master so I don't lose this after

[2018-06-18 13:08] Stender89 opened #112 "global holidays /*Enhancement suggestion*/"
Enhancement suggestion.

We already have "include_io" and "include_holidays" in the overview shortcode,
but it would be awesome, if we could enhance it, to also include
"holiday_set=(int|alias)" and "io_set=(int|alias)"
This way, if you have numerous sets, which all have the same holiday (like Christmas day etc.) where they are all closed, it could be written only once.

This would mean that the c

[2018-06-18 13:44] maxime057 opened #113 "More Settings"
Bonjour le bouton "More Settings" ne fonctionne pas rien ne ce passe j'ai essayer sur plusieurs navigateur cela ne change rien :/
Pourriez-me fournir une solution merci par avance ;)

Maxime ^^

[2018-06-18 13:52] Stender89 commented on #113
For the rest of the world :
___
Hello the button "More Settings" does not work nothing happens I try on several browsers it does not change anything: /
Could you give me a solution thanks in advance;)

Maxime ^^

[2018-06-18 13:54] maxime057 commented on #113
thank you xP ;)

[2018-06-18 13:57] Stender89 commented on #113
you might want to check your js console for errors - if nothing happens when you press the button, it could suggest that you have a JS conflict.

Also, it will be easier for people to help you, if you give them more information.

Good luck 👍

[2018-06-18 14:24] maxime057 commented on #113
source code of button "<a class="collapse-toggle">More Settings</a>"
source code of section hidden "<div class="settings-container hidden">"
I have not seen an error in the console Js
I managed a little wild by changing the source code in live of the page to make the changes

[2018-06-19 19:35] janizde commented on #112
I will have a look at this use case for the major period refactoring but there will probably not be an enhancement in the current form of the set architecture as this is probably a very special case.

[2018-06-19 19:37] janizde commented on #113
Maybe some strange plugin combination is preventing the widget initialized event from being fired. Have you experienced any other JS related issues with other plugins? What WP version are you using?

[2018-06-20 14:42] aapco opened #114 "Month Overview?"
I'm working on a project and I LOVE this plugin!  My client has requested a calendar view whereby they can page thru months and view the open hours for the month in a table-like layout.  Ideally I'd like to be able to show multiple sets for each day (i.e. restaurant and bar hours on one calendar).  It sounds like this would require a completely new shortcode since the current "overview" focuses on

[2018-06-30 12:01] rvencu opened #115 "UX issues for widgets in table mode"
The widgets in table mode are not uniform created, so styling is really troublesome.
For instance some tables exposes rows that combine th and td. Others do not. Some inserts data inside td wrapped in span elements, others do not. Some columns have width assigned, other columns does not even inside same table.

Actually tables appear ok in the end when minimizing PHP time and date content, except

[2018-07-16 08:14] davidwessman opened #116 "Adding page to export opening hours as json"
Hello, thank you for a great plugin!

I am interested in being able to read the opening hours via a json.
How would it best be implemented? I can try to do it myself if I get some hints.

[2018-07-16 20:35] janizde commented on #116
Hi, you can have a look at the Set class: https://github.com/janizde/WP-Opening-Hours/blob/master/doc/developer-guide.md#sets

You can get the instance of a specific set, read the `Periods`, `Holidays` and `IrregularOpenings` and then create a JSON represenation (transform the data to associative arrays and then use the `json_encode` function to serialise it). You can also use the `OverviewModel`

[2018-07-16 20:35] #116 closed

[2018-07-16 20:39] janizde commented on #114
Hi, you can have a look at the developer guide where you can see how to get the data programatically: https://github.com/janizde/WP-Opening-Hours/blob/master/doc/developer-guide.md With this data you can then implement your own shortcode. You might also be interested in the `OverviewModel` class which is capable of merging holidays and irregular openings in the regular opening hours flow.

Let me

[2018-07-16 20:39] #114 closed

[2018-12-18 03:16] misagues opened #118 "Tested up to: 4.9.8"
Tested up to: 4.9.8

[2018-12-26 12:04] janizde opened #119 "Add check for is_array in Overview shortcode"
`$row['items']` is either an array, a holiday object or an irregular opening object. Calling `count` with a non-array and non-Countable triggers a warning in PHP 7.2.

Before calling `count`, an `is_array` check should be done.

https://github.com/janizde/WP-Opening-Hours/blob/8aa0d2a786ae7910d5cddc618dc502962b085f43/classes/OpeningHours/Module/Shortcode/Overview.php#L114

[2019-01-14 16:44] luckhavemh opened #120 "[enhancement] op-overview without past weekdays and show_next all time ranges"
Hello janizde,
first of all i want to thank you for your fantastic plugin.
I have 2 questions or suggestions for your plugin.

Is it possible to hide passed days in the op-overview table and replace these opening hours of passed days with the upcoming opening hours of the next week, if there are changes.

And how can i let the plugin show me the next opening periode including all time ranges of al

[2019-02-06 06:22] vbes opened #121 "Disable open_text string"
Hi janizde,

totally love your plugin! There is my question: using a shortcode, I don't want to show current status (like "We're currently closed"), but only todays (like "Today, you can visit us till 18.00). Is there any way, how to disable open_text and closed_text strings? When I don't use these strings in the shortcode, they're replaced by default text.

Thanks,

vbes

[2019-03-18 12:21] misagues commented on #118
Tested up to: 5.1.1

[2019-03-18 12:58] misagues opened #122 "Tested up to: 5.1.1"
Tested up to: 5.1.1

[2019-03-18 12:58] #118 closed

[2019-05-18 16:54] will2383 opened #124 "Able to change color of Open/Close?"
I thought I saw this in the documentation when I first started using this a few years ago, but I can't find it now.  Is it possible to define the color of the "today" period?  i.e. if open it's a green, if closed it's a red.  I'd like to customize that, is there a shortcode modifier to use to do so?

[2019-05-30 10:32] ash-tsc commented on #119
HI, hilfe! Kann ich Dich gegen eine Spende motivieren das Problem zu beheben?
Wir würden gern Ausnahmen und Ferien Optionen verwenden können. Danke!
[http://snap.ashampoo.com/mibYZi40r5GtQv5YCUq8bL4GMDQq8fElNFEiobHA8oTpErIHGzgHgdOthaEFFjQt](url)
[https://wordpress.zoum.de/start-testseite-mit-widget/](url)

Warning: count(): Parameter must be an array or an object that implements Countable in /www/

[2019-05-30 10:39] ash-tsc commented on #119
siehe auch:
https://wordpress.org/support/topic/overview-php-error/

[2019-06-04 12:06] ash-tsc commented on #119
Bitte, bitte, bitte fix diesen Fehler! Ich spendiere Dir auch gern was für Deinen Aufwand! Ich würde so gern diese wunderbare Software verwenden. Aber egal ob ich Widgets oder Shortcodes verwende. In Kombi mit Ausnahmen und Urlaub funktioniert nichts mehr. :(
![kaputt](https://user-images.githubusercontent.com/16594981/58877786-ee8cc300-86d1-11e9-8c8b-d1c1dc34f5e3.jpg)

[2019-06-04 12:56] janizde commented on #124
Hi, the plugin hardly provides any styling except the static colors for red and green. For custom style you will have to provide your own CSS. The elements should be selectable by class names. To disable all of the styling you can use the [`op_use_front_end_styles`](https://github.com/janizde/WP-Opening-Hours/blob/master/doc/filters.md#op_use_front_end_styles) filter

[2019-06-04 12:56] #124 closed

[2019-06-04 12:58] janizde commented on #119
@ash-tsc I will have a look into this on the weekend. The donations are on a voluntary basis so I would like to stress that no one has to pay anything for a bug fix.

[2019-06-04 13:09] ash-tsc commented on #119
Thank you! Let me know how I can donate and if I can help to test new builds,

[2019-06-04 13:15] janizde commented on #120
Hi @luckhavemh,
sorry for the late reply. If you're still interested in it, there are some possible solutions that require custom code (filter hooks)

https://github.com/janizde/WP-Opening-Hours/blob/master/doc/filters.md#op_overview_model

* The weekday thing: You can use the [`op_overview_model` filter hook](https://github.com/janizde/WP-Opening-Hours/blob/master/doc/filters.md#op_overview_model

[2019-06-04 13:15] #120 closed

[2019-06-05 20:32] misagues commented on #119
Hi @ash-tsc

[Donate](https://github.com/janizde/WP-Opening-Hours#donate)

[2019-06-05 22:15] ash-tsc commented on #119
Hi,
Thank you! BR,

[2019-06-08 16:19] #111 closed

[2019-06-08 16:19] #119 closed

[2019-06-08 16:19] #122 closed

[2019-06-08 17:13] janizde commented on #115
related to: https://wordpress.org/support/topic/shortcode-output-alignment-center-vs-left/

[2019-06-08 17:29] janizde commented on #115
@rvencu This will probably not be changed until the next major release as it might break appearance on sites. But v3 should unify this.

[2019-06-12 10:59] henry987 commented on #121
[op-is-open set_id="ur opening hours set id here"  show_today="always" time_format="H" today_format="Today, you can visit us till %3$s"]

I think this is what ur looking for?

[2019-07-01 20:34] ash-tsc commented on #120
Sorry, custom code obviously is too much for my small old not web coder brain to grasp. I wonder if @luckhavemh was able to solve the 1. and 2. period of the day riddle and display complete working hours with a break in between ?

[2019-07-11 14:50] vince40 opened #126 "Problem to update open display"
Hello i have one problem to update the "op-is-open" in my website.
The display remains blocked as if it were cached and not updated.
To fix this problem I need to clean the browser cache or active the cookie plugin in first visite (plugin : Cookie Notice). I can't ask this to the users of my website ;)
So, how to prevent caching of your plugin data ? Or another good practice ??
I use wp-rocket for

[2019-07-14 17:44] janizde commented on #126
Hi @vince40 ,

As you mention it "remains blocked as if it were cached and not updated." And this is actually the case when using a caching plugin like wp-rocket. When using a caching plugin you actually trade the dynamics of WordPress against page load speed. So when the cache is created the state of the is open plugin is simply manifested.

To get around this you can try to set your cache lifesp

[2019-07-23 07:23] HelmutGoebel opened #127 "The date format doesn't adapt on frontend"
I changed the date format in the list of holidays. It does change in the backend. But it remains in the frontend.

[2019-07-23 07:29] HelmutGoebel opened #128 "There is no way to customize style"
I don't see any chance to customize style, like font family, font size, font-color etc. Also, there is no chance to customize tablet and mobile settings. When will you implement that?

[2019-08-04 13:36] janizde commented on #127
Hi @HelmutGoebel , are you referring to a shortcode or a widget? Could you paste the shortcode you're using or the configuration settings of the widget?

[2019-08-04 13:41] janizde commented on #128
The plugin does not – and will not – provide any options for custom styles, as you can read in the FAQ on WordPress: https://wordpress.org/plugins/wp-opening-hours/#how%20can%20i%20change%20the%20styling%20of%20the%20widgets%20%2F%20shortcodes%3F

The styling of your site should be determined by your theme. (Otherwise any plugin would have to provide these settings, which is rarely the case). It j

[2019-08-04 15:08] HelmutGoebel commented on #127
Widget. I've deactivated the plugin.

[2019-08-08 03:52] HelmutGoebel commented on #128
A reason to switch to another solution asap, since you don't understand the need of the requested features.

[2019-11-01 19:15] makkabi opened #129 "week_offset doesn't check for child sets"
Assuming that this week the "summer" opening hours are in effect, and starting next week the winter opening hours (as defined in a child set of the summer opening hours) will be in effect. If I use the shortcode op-overview and set week_offset to 1, it still displays the summer opening hours. The week_offset parameter doesn't use the child set that will actually be in effect next week. It only see

[2019-11-06 20:17] vince40 commented on #126
Hello thank you with a lot of delay ;)

[2019-12-16 11:19] moinabbasqureshi opened #130 "want to change some icons"
hi,
I want to change 'Closed' and 'Open' name that display in frontend.  I want to change these names, but i didnot find anything related to that. Please guide me

[2020-01-03 17:55] #128 closed

[2020-01-03 17:55] #127 closed

[2020-01-05 14:10] janizde commented on #104
With quite a delay it's now ready with version 2.2.0

[2020-01-05 14:10] #104 closed

[2020-01-05 16:48] ElectricFeet commented on #130
Hi @moinabbasqureshi If you use the [shortcode builder](https://janizde.github.io/opening-hours-shortcode-builder/), it guides you through how to build a shortcode with the text you want.

[2020-01-05 20:34] ElectricFeet opened #132 "Widgets / plugin uses site's locale, not user's locale"
On the back end, the Opening Hours plugin incorrectly uses the site's locale rather than the user's.

For example, I'm designing an Italian site, but Italian is my second language. My mother tongue is English. I work 10 times slower in Italian than I do in English. The site needs to be in Italian, of course. Since WP 4.7, WordPress allows the user to set their own language in the user profile. Min

[2020-01-06 08:36] janizde commented on #129
Yeah you're right the child set only kicks in when the criteria matches *the current date*. This is a misconception that can hardly be circumvented in the close future but will definetely be considered for the major refactoring of opening data model starting soon. For now I can just close this but will flag this as a use case for 3.0

[2020-01-06 08:36] #129 closed

[2020-01-06 08:37] #126 closed

[2020-01-06 08:38] janizde commented on #132
Thanks for the extensive explanation, I will take a look

[2020-01-06 08:41] janizde commented on #130
As @ElectricFeet pointed out it's best to go with the shortcode builder which is now also integrated in the set edit page (*Create a Shortcode* link). You can also refer to the docs here:https://github.com/janizde/WP-Opening-Hours#shortcodes

[2020-01-06 08:41] #130 closed

[2020-01-09 09:28] ajgw opened #133 "Got a fatal error on updating to action scheduler 3.0"
Hi, have updated woocommerce subscriptions to version 3.0 which brought us action scheduler 3 with it. At migrating of action scheduler actions I got a fatal error from Opening Hours Plugin:

2020-01-09T08:41:16+00:00 CRITICAL Uncaught TypeError: Argument 2 passed to OpeningHours\Module\CustomPostType\MetaBox\AbstractMetaBox::saveDataCallback() must be an instance of WP_Post, null given, called in

[2020-01-19 11:33] janizde commented on #133
Hi @ajgw ,

the method you mentioned is implemented against the API of the `save_post` action hook. In [the specification](https://developer.wordpress.org/reference/hooks/save_post/) you can see that it is said to be provided the `$post_ID` and the `WP_Post $post` as second parameter. In your setup there seems to be one module (maybe woocommerce or action scheduler?) that invokes this hook incorre

[2020-01-19 11:33] #133 closed

[2020-01-19 12:07] janizde commented on #132
Fixed in https://github.com/janizde/WP-Opening-Hours/commit/6f4ab8df50da21d6c53ec7bec9ec3b76bd9b207c will be part of 2.2.1

Thanks for reporting!

[2020-01-19 12:07] #132 closed

[2020-01-19 12:23] janizde commented on #121
Hi, sorry for the late reply. It's not possible to hide the text by default, as this is considered the primary use of this widget / shortcode, but it's interesting to see that there's also a case to just show the additional information. You can however strip it off using filters.

The easiest should be [`op_shortcode_attributes`](https://github.com/janizde/WP-Opening-Hours/blob/master/doc/filters.

[2020-01-19 12:23] #121 closed

[2020-01-19 12:24] #113 closed

[2020-01-20 18:03] ElectricFeet commented on #132
Hi @janizde . I spoke too soon. I just spotted that the backend panel is still in the site's locale, rather than the user's.

Screenshots:

<img width="317" alt="Screenshot 2020-01-20 at 19 01 25" src="https://user-images.githubusercontent.com/6003638/72748378-605d4280-3bb7-11ea-80f2-6afeb9f3300a.png">
<img width="303" alt="Screenshot 2020-01-20 at 18 59 13" src="https://user-images.githubusercont

[2020-01-28 14:08] iLord-DEV opened #134 "Warning: Illegal offset type in ../.../OpeningHours.php on line 114"
Hi Jannik,
I am getting an error on my local machine (osx, php7.3 and others, clean install with twentytwenty) like this:

Warning: Illegal offset type in .../wp-opening-hours/classes/OpeningHours/Module/OpeningHours.php on line 114

It appears when adressing the Widget to the footer. And only on my local machine not on dev server.

Any suggestions/hints?
Thank you!
Christoph

[2020-01-28 19:26] janizde commented on #134
Hi, it seems the method gets passed something as `$setId` that is not a valid key for `ArrayObject`. Can you tell me what widget you're talking about and what you specify as Set ID?

Also you could log the value passed into the method to know more about its type as in the patch below

[code]

Cheers
Jannik

[2020-02-20 11:16] monecchi opened #135 "@dudgemaster Is the op_shortcode_template filter broken? No success trying to override template on theme functions.php"
@dudgemaster I'm wondering if the op_shortcode_template filter is broken?

I'm placing the function bellow on my theme's functions.php

    /**
     * WP-Opening-Hours
     * Specify own shortcode template for IsOpen
     */

    // use OpeningHours\Module\Shortcode\IsOpen;

    add_filter('op_shortcode_template', function ($template, $shortcode) {

        $shortcodeTemplatePath = get_theme_file_

[2020-02-20 12:08] janizde commented on #135
Hi @monecchi , I looked at the source and it turns out the `$templatePath` should be relative to the `views` directory of the plugin: https://github.com/janizde/WP-Opening-Hours/blob/c604366d3f13541747c485d57878e9f489c65ef0/classes/OpeningHours/Module/Shortcode/AbstractShortcode.php#L122-L151

This is certainly documented wrong and is actually not such a sensible API I must admit. Can you please t

[2020-03-10 18:18] monecchi opened #136 "Please provide example function on how to return a set opening/closing times as php or json array | object"
I've been trying to understand how the plugin API works, but I'm getting a real bad time trying to achieve the following:

I need to create a function which will return a Set opening/closing times times by id or name alias... The function should then return the data as as php or json array | object. I'd to localize that as js object on my WordPress theme.

	use OpeningHours\Entity\Set;
	use Openin

[2020-03-11 10:05] janizde commented on #136
Hi, in the loop you're reassigning the same `periodos` key over and over again causing only the last period to be set there. To collect all of them you would have to add to the array. I don't quite know why you're just getting the `{}` string. You could try to access the start and end dates programatically, so for example

[code]

[2020-03-11 13:54] monecchi commented on #136
Thanks @janizde for getting by. Actually I made a mistake referencing the function above, what i really wanted was to get the opening / closing times by calling `$data = $set->getPeriods($now)` instead of `$data = $set->getDataForDate($now)`, ...

Here's the output of the function above for a specific set id... The issue I think is that I'm not so good at php programming to deal with those array o

[2020-03-11 14:04] janizde commented on #136
What errors is it throwing? You can easily convert an `ArrayObject` to an array using [`ArrayObject::getArrayCopy()`](https://www.php.net/manual/en/arrayobject.getarraycopy.php) if that helps you.

[2020-03-11 14:09] monecchi commented on #136
I'll try to manage that out.  Thanks.

I'm also getting an error while trying to supply `$now` by using WP default functions such as the following:

    $timezoneSTring = 'America/Sao_Paulo';
    $now = new \DateTime( wp_date( get_option('date_format'), time() ), new \DateTimeZone($timezoneSTring));
    $data = $set->getDataForDate($now);

Uncaught Error: Call to a member function getDataForDate()

[2020-03-11 15:22] janizde commented on #136
Some points to help with this:

1. You can ask the Dates util for `$now` with `OpeningHours\Util\Dates::getNow()` it should have the correct timezone already
2. The `SetProviders` are intialized on the `init` filter hook so make sure that when calling your function you do this not earlier than `init` with a priority > 10 like

[code]

[2020-03-14 16:52] monecchi commented on #136
Thanks for following up @janizde !

I got it working with your help! Now I can use my own function to output the opening / closing times as json / localized data for a given set id... That helped me a lot on creating a custom WP REST API endpoint function so I can retrieve it easily everywhere.

For those who might come looking for the same answer, here's the final function:

    use OpeningHours\

[2020-03-15 15:45] janizde commented on #136
👍

[2020-03-15 15:45] #136 closed

[2020-04-18 19:14] andyeder opened #138 "Opening Hours: Is Open Status - Naming Collision"
In the Opening Hours: Is Open Status widget, the settings form consists of two input fields (**Class for span** and **CSS Classes**) that share the same 'id' and 'name' attributes.

As a consequence, when saving the settings, any value entered in field **Class for span** is overwritten by the value found in the **CSS Classes** field.

![bug](https://user-images.githubusercontent.com/14290788/79669

[2020-04-19 11:35] janizde commented on #138
Hi @andyeder , I'm wondering where the last option *CSS classes* comes from? It's not part of the Widget shipped with the plugin.

[2020-04-19 12:37] andyeder commented on #138
Hi @janizde , the **CSS Classes** option appears to be a standard setting across all Wordpress widgets. If you navigate into the Appearance->Widgets section of the Wordpress dashboard and setup a widget area (by inserting a selection of widgets into that area) you will find that each widget has the CSS Classes option as the last option.

[2020-04-19 12:49] janizde commented on #138
Are you sure this is not coming from a third party plugin like this: https://de.wordpress.org/plugins/widget-css-classes/ ? Can you please check your installed plugins?

[2020-04-19 13:14] andyeder commented on #138
Yes, I will take another look. I recently picked up this project from another developer and am still familiarising myself with it. Please give me a moment to check... thanks for your patience.

[2020-04-19 13:33] andyeder commented on #138
@janizde - please accept my apologies, it is indeed a problem with the Widget CSS Classes third-party plugin. I will remove that plugin and refactor the project.

Thanks for your patience and time and - again - my apologies.

[2020-04-19 13:38] janizde commented on #138
No biggie :) Thanks for submitting, I will considered prefixing all of them in a future release.

[2020-04-19 13:38] #138 closed

[2020-04-23 19:32] stuehmer opened #139 "Can I allow non-administrators to edit opening times?"
Can I allow other user types such as contributers to edit parts or all of Opening Hours' settings? Specifically I would like some staff members to be able to add holidays. (Global write permissions to all settings are also a nice step in this direction.)

Thank you for the plugin, good stuff! I especially appreciate the flexibility and the schema.org representation.

[2020-04-30 20:22] janizde commented on #139
Hey @stuehmer ,

by design it is meant to be only manageable by administrators, however the custom post type (so the part that lets you add, edit and delete sets) is set to `capability_type: 'page'`. It might work when you allow editors to also edit pages, but I can't be sure about that.

However I see that this might be useful and will introduce at least a filter, if not an option in the settings

[2020-05-04 18:08] stuehmer commented on #139
Thank you, I elevated my users to Editor (to get page edit permissions) and it worked. Good enough workaround for me at this time.

[2020-05-25 14:20] martinlyder opened #140 "Use parent sets Holiday and irregular openings"
Hi
I have a mall-website, with over 20 different sets. It's a nightmare to set holidays on the site. Because it needs to be updated in every set.
I cool feature would be, to inherit a parent set's holiday and irregular openings. So all sets have individual opening hours but share the same holiday and irregular openings :)

[2020-06-18 01:34] ryandjones opened #141 "Irregular Openings and Opening Hours use inconsistent characters to separate time"
As we are in the strange COVID world, we consistently use special hours to adjust our company's schedule to our team's availability.  As such, this is a noticeable formatting difference.

Any day with Irregular Hours entries use en-dashes to separate times (U+2013).

Any day with normal Opening Hours entries use the much shorter hyphen-minus to separate times (U+002D).

The plugin should use consi

[2020-06-18 11:13] janizde commented on #141
Great spot! Right, this should definitely be made consistent in the future. As for customizability you should be able to specify a custom time format with the *PHP time format* option on the Overview widget (there are equivalents for the other widgets): https://github.com/janizde/WP-Opening-Hours#overview-widget

[2020-06-18 14:34] ryandjones commented on #141
Thanks for the quick response.  I hope and trust it's a quick fix!  I know it's a nit-picky issue so please know how much I appreciate your response.
The time format itself isn't an issue as I've set that globally in the WordPress settings and your plugin adopts that perfectly.  The issue is the text between the times, not the times themselves.  Hope that makes sense.

[2020-07-15 16:28] RaR0CH opened #142 "Irregular Openings - 2 timeslots for 1 date"
Thanks for this plugin, it's really helpful for me!

In regular opening hours I can set Monday to 09:00 - 12:00 & 13:00 - 18:00.
If the next day is a holiday our opening hours are from 09:00 - 12:00 & 13:00 - 16:00.
Unfortunately, I can only set 1 timeslot with irregular openings. Either 09:00 - 12:00 or 13:00 - 16:00.
When I set both as seperate irregular openings, one is ignored.

Is there a way

[2020-08-29 08:52] swissmediatools opened #144 "2 days offset at holidays saving"
Hello,

When i save an holidays in schedule, the date will go back two days earlier.

the time and date settings are correctly setted in wordpress.

[2020-09-27 12:49] msrv opened #146 "How to display date range in title or at the according day?"
Hi,

i'd love to use opening hours on my page to display an alternating opening hours scheme.

Problem: Customers easily confuse the beginning of a week here. By international standard, the week begins on Monday, so my set displays the business hours for the current week (monday-sunday). As we are closed on Sat/Sun, people want to get the opening hours of the following week, but on current Sunday

[2020-10-06 18:31] janizde opened #147 "Slow Queries for storing opening_hours_db_version"
Copied from https://wordpress.org/support/topic/slow-queries-18/

I have been running some tests on my website and loaded the Query Monitor plugin to evaluate where the slowness was happening.

The number one issue on just about every page, including the admin panel, is surprisingly Opening Hours.

[code]

I guess my question is, I am only using this plugin on one page. Is there anyway to disable

[2020-10-27 04:34] misagues opened #149 "Tested up to WP 5.5.1"
Tested up to WP 5.5.1

[2020-12-01 08:05] dsk1000 opened #150 "Shortcodes not displaying in post, page on 5.5.3. Widgets work."
As in title, I've been unable to render Is Open shortcode on a fresh installation of WP 5.5.3, all plugins disabled.
- Overview shortcode works.
- Widgets are rendering fine.
- Other plugin shortcodes tested and rendering fine.

[2020-12-15 11:08] Rhatur commented on #97
Hello, I am facing the same issue but I don't understand how to set the time.
I have added this code:
`
add_action('woocommerce_after_order_notes', 'ad_dev_display_opening_hours_on_checkout');
function ad_dev_display_opening_hours_on_checkout()
{
    echo do_shortcode('[op-overview set_id="5114" show_closed_days="true" highlight="day" compress="true" include_io="true" include_holidays="true"]');
}

[2021-02-14 15:36] fabiocchetti commented on #142
I have this issue too, it's very annoying.

[2021-04-19 10:08] c0smic commented on #135
Any working solution? I´m not a php programmer - just being able to get by.
If i paste echo  $templatePath; after line 129 it shows the correct path to child-theme.
If i paste it after line 147 path is not correct - it shows the pluginpath and chlidthemepath in one line. In my understanding it means to override the op_plugin_path(). But how to do that? Or is it the false conclusion?
thank you in a

[2021-05-13 14:55] #149 closed

[2021-07-01 23:28] test123ing opened #158 "Cannot add more hours"
Hi there,
Neither the X or the Y work when clicked (tried multiple browsers). Is there an issue with the installation? I have tried twice.

Looking to add 8-12 then a 1-6 opening hours (break for lunch)

https://prnt.sc/17xeksk

[2021-09-21 06:02] keeslamper opened #160 "Caching WP Opening Hours"
Is it possible to exclude opening hours from cache? We're using WP Rocket but when the shop is closed the widget still shows open because it's cached.

[2021-10-28 21:42] lukolb opened #161 "Irregular closing hours"
We really love this plugin! Thank you so much!
The only thing we're missing is irregular closing hours as equivalent to the already existing irregular opening hours. This is for example needed for team meetings when no staff is available. The holidays don't cover this since they don't allow to put in specific times (only days).
The irregular closing hours wouldn't have to be visible in the fronten

[2021-10-29 00:04] misagues commented on #161
Hi @lukolb.
You will have to select the day as closed and then assign as many irregular openings as there are sets of hours that you will have open; that is to say, the approach contrary to how you have thought it.

[2021-10-29 00:33] lukolb commented on #161
Hi @misagues! Thanks for your quick reply! For this to work, I would have to declare this day as a holiday or change the regular opening hours. Unfortunately, both are not an option since the holidays are displayed on the website and the regular opening hours need to stay unchanged.

[2021-11-03 17:04] christopherkurth opened #162 "week_offset does not work for me"
I am trying to implement opening hours where the times change in even and odd weeks.

I made a set for the even week and a subset which should overwrite in the odd weeks.

In the shortcode I call the set and then try to call the next week with` week_offset=1`, unfortunately only the current week is displayed. I have two shortcodes set up right next to each other and both show exactly the same thin

[2021-11-22 05:52] lfrohling commented on #103
I'd really like this. Could you just add an additional plain text box with the same width as the others where I would type (manually) "Saturday: By Appointment Only"

[2022-03-18 14:25] mol-savage opened #164 "24 Hour opening"
Can an Open 24 Hours check box be added to each day in the Opening Hours
![opening hours edit](https://user-images.githubusercontent.com/101875560/159021051-df45da06-f180-4ce5-86f2-3986c2a25a4c.jpg)
![week view](https://user-images.githubusercontent.com/101875560/159021053-b3320abe-d436-4c37-b548-fd05948d717b.jpg)
![irregular times edit](https://user-images.githubusercontent.com/101875560/15902105